openapi: 3.2.0
info:
  description: '## Introduction


    The JustiFi API is a REST-based payment processing API.'
  title: JustiFi API Documentation Terminals Orders API
  termsOfService: https://justifi.ai/terms-and-conditions
  x-logo:
    url: https://justifi-brand-assets.s3.us-east-2.amazonaws.com/justifi-light-bg.png
  contact:
    email: api-development@justifi.ai
servers:
- url: https://api.justifi.ai/v1
  description: JustiFi API
tags:
- name: Terminals Orders
  description: Terminals Orders API for order management
paths:
  /terminals/orders/{id}:
    get:
      summary: Get Terminals Order
      operationId: GetTerminalsOrder
      description: Get information about terminals order
      tags:
      - Terminals Orders
      parameters:
      - $ref: '#/components/parameters/id-path'
      - $ref: '#/components/parameters/authorization-header'
      responses:
        '200':
          description: Successfully get a terminal order
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope'
                - properties:
                    type:
                      example: terminals_order
                    data:
                      $ref: '#/components/schemas/TerminalsOrder'
  /terminals/orders:
    get:
      summary: List Terminal Orders
      description: Retrieve a list of terminal orders for your account. This endpoint supports pagination.
      operationId: ListTerminalsOrders
      tags:
      - Terminals Orders
      parameters:
      - $ref: '#/components/parameters/authorization-header'
      - $ref: '#/components/parameters/created-before'
      - $ref: '#/components/parameters/created-after'
      - in: query
        name: order_type
        schema:
          type: string
          enum:
          - boarding_only
          - boarding_shipping
        required: false
        example: boarding_only
        description: 'filter terminal orders of a specific type

          '
      - in: query
        name: order_status
        schema:
          type: string
          enum:
          - created
          - submitted
          - completed
        required: false
        example: created
        description: 'filter terminal orders of a specific status

          '
      - in: query
        name: sub_account_id
        schema:
          type: string
        required: false
        example: acc_123xyz
        description: 'filter terminal orders of a specific sub account

          '
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope'
                - properties:
                    type:
                      example: terminals_orders
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/TerminalsOrder'
    post:
      summary: Order Terminals
      description: Order (one or multiple) terminals from one of our technology partners
      operationId: terminalsOrder
      tags:
      - Terminals Orders
      parameters:
      - $ref: '#/components/parameters/authorization-header'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                business_id:
                  type: string
                  format: uuid
                  example: biz_abc123
                  description: id of the business entity ordering a terminal
                sub_account_id:
                  type: string
                  format: uuid
                  example: acc_abc123
                  description: id of the account all terminals from this order will be associated
                order_type:
                  type: string
                  enum:
                  - boarding_only
                  - boarding_shipping
                  example: boarding_only
                order_items:
                  type: array
                  description: list of terminals being ordered
                  items:
                    type: object
                    properties:
                      model_name:
                        type: string
                        enum:
                        - V400m
                        - P400
                        - E285
                        example: V400m
                      quantity:
                        type: integer
                        example: 1
              required:
              - business_id
              - sub_account_id
              - provider
              - order_type
              - order_items
      responses:
        '201':
          description: Successful place a Terminal Order
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope'
                - properties:
                    type:
                      example: terminals_order
                    data:
                      $ref: '#/components/schemas/TerminalsOrder'
components:
  schemas:
    Envelope:
      type: object
      properties:
        id:
          description: the object id, also found in the data object
          type: string
          format: uuid
          example: prefix_xyz (same as id of data object)
        type:
          description: the object type, or array of objects
          type: string
          example: account
        data:
          description: the attributes for the object
          type: object
        page_info:
          description: information for cursor style pagination, is null for single records
          type: null
    TerminalsOrder:
      type: object
      properties:
        id:
          description: unique terminal order id
          type: string
          example: tord_xyz
        business_id:
          type: string
          format: uuid
          example: biz_xyz
        account_id:
          type: string
          format: uuid
          example: acc_xyz
        order_type:
          type: string
          enum:
          - boarding_only
          - boarding_shipping
          example: boarding_only
        order_status:
          type: string
          enum:
          - created
          - submitted
          - in_progress
          - completed
          - on_hold
          - canceled
          description: status of the order
        company_name:
          type: string
          description: business legal name when the terminal order was created
          example: Business Name
        mcc:
          type: string
          description: Merchant Category Code
          example: 7998
        receiver_name:
          type: string
          description: name of the person receiving the terminal
          example: John Doe
        contact_first_name:
          type: string
          description: company's representative first name
          example: John
        contact_last_name:
          type: string
          description: company's representative last name
          example: Doe
        contact_email:
          type: string
          description: company's contact email
          example: john.doe@example.com
        contact_phone_number:
          type: string
          description: company's contact phone number
          example: 2125554567
        line1:
          type: string
          example: 123 Main St
        line2:
          type: string
          example: Apt 4B
        city:
          type: string
          example: Minneapolis
        state:
          type: string
          example: MN
        postal_code:
          type: string
          example: 55401
        time_zone:
          type: string
          description: determined by postal code
          example: US/Central
        country:
          type: string
          example: USA
        shipping_tracking_reference:
          type: string
          description: FedEx tracking number associated with the terminal order shipment. This field is populated only when the terminal order status is completed and the order includes a physical shipment. Always null for boarding_only terminal orders, as no shipment occurs.
          example: 12345678
        created_at:
          type: string
          format: date-time
          example: '2024-01-01T12:00:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2024-01-01T12:00:00Z'
        terminals:
          type: array
          description: list of ordered terminals
          items:
            type: object
            properties:
              terminal_id:
                type: string
                format: uuid
                description: unique terminal id
                example: tmn_abc
              terminal_did:
                type: string
                description: terminal device identification
                example: '12345678'
              model_name:
                type: string
                enum:
                - V400m
                - P400
                - E285
                example: V400m
  parameters:
    id-path:
      in: path
      name: id
      schema:
        type: string
        format: uuid
      required: true
    authorization-header:
      in: header
      name: Authorization
      schema:
        type: string
      required: true
      example: Bearer {access_token}
      description: the `access_token` value returned from the JustiFi `oauth/token` endpoint (be sure to append `Bearer` before the token)
    created-before:
      in: query
      name: created_before
      schema:
        type: string
        format: date-time
      required: false
      example: '2022-01-01T00:00:00Z'
      description: 'filter records which were created before the date and time (UTC) specified. Dates without time specified will default to 00:00:00

        '
    created-after:
      in: query
      name: created_after
      schema:
        type: string
        format: date-time
      required: false
      example: '2022-01-01T00:00:00Z'
      description: 'filter records which were created after the date and time (UTC) specified. Dates without time specified will default to 00:00:00

        '
x-tagGroups:
- name: Authorization
  tags:
  - API Credentials
  - Web Component Tokens
- name: For Platforms
  tags:
  - Sub Accounts
  - Platform Wallet Accounts
  - Onboarding via Component
  - Hosted Onboarding
  - Onboarding via API
  - Fee Configurations
  - Proceeds
  - Reports
- name: Payment Resources
  tags:
  - Payments
  - Payment Methods
  - Tokenize via Component
  - Payment Method Groups
  - Refunds
  - Disputes
  - Payouts
  - Payout Holds
  - Balance Transactions
  - Ach Return Fees
  - Payment Method Migration
- name: Checkout Resources
  tags:
  - Checkouts
  - Checkout via Component
  - Checkout via API
- name: Insurance Resources
  tags:
  - Bind Insurance
- name: Entity Resources
  tags:
  - Business
  - Identity
  - Address
  - Document
  - Bank Account
  - Terms and Conditions
  - Provisioning
- name: Card Present Resources
  tags:
  - Terminals
  - Terminals Orders
- name: Libraries
  tags:
  - JustiFi Web Components
  - JustiFi SDK
- name: Event Publishing
  tags:
  - Events
  - Webhook Delivery
