openapi: 3.2.0
info:
  description: '## Introduction


    The JustiFi API is a REST-based payment processing API.'
  title: JustiFi API Documentation Identity API
  termsOfService: https://justifi.ai/terms-and-conditions
  x-logo:
    url: https://justifi-brand-assets.s3.us-east-2.amazonaws.com/justifi-light-bg.png
  contact:
    email: api-development@justifi.ai
servers:
- url: https://api.justifi.ai/v1
  description: JustiFi API
tags:
- name: Identity
  description: Creating an identity establishes a unique identification for people associated with your business. Accurately providing your information is crucial in ensuring that your identity is properly verified and maintained, and can have important consequences for a variety of financial and legal transactions. Our platform has a secure database for storing identity information, encryption and other security measures to protect your sensitive data.
paths:
  /entities/identity:
    post:
      summary: Create an Identity
      operationId: CreateIdentity
      tags:
      - Identity
      parameters:
      - $ref: '#/components/parameters/authorization-header'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                  example: Person Name
                  description: legal name
                title:
                  type: string
                  example: President
                  description: job title
                email:
                  type: string
                  example: person.name@justifi.ai
                  description: email address
                phone:
                  type: string
                  example: '6124011111'
                  description: phone number
                dob_day:
                  type: string
                  example: '01'
                  description: two-digit birth day
                dob_month:
                  type: string
                  example: '01'
                  description: two-digit birth month
                dob_year:
                  type: string
                  example: '1980'
                  description: four-digit birth year (must be at least 18 years old)
                identification_number:
                  type: string
                  example: '123456789'
                  description: full social security number
                is_owner:
                  type: boolean
                  example: true
                  description: if an identity owns 25% or more of the business, they are considered an owner
                ownership_percentage:
                  type: integer
                  minimum: 0
                  maximum: 100
                  example: 25
                  description: percentage of the business owned by this identity (0–100); applies when is_owner is true
                metadata:
                  type: object
                  description: any useful information you'd like to store alongside this identity
                  additionalProperties: true
                  example:
                    language: english
                    social_network: '@person'
                address:
                  oneOf:
                  - $ref: '#/components/schemas/Address'
                  - type: object
                    properties:
                      id:
                        type: string
                        example: addr_xyz
      responses:
        '201':
          description: Identity was created successfully
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope'
                - properties:
                    type:
                      example: identity
                    data:
                      $ref: '#/components/schemas/IdentityResponse'
    get:
      summary: List Identities
      description: List identities for your platform. This endpoint supports pagination.
      operationId: ListIdentities
      tags:
      - Identity
      parameters:
      - $ref: '#/components/parameters/authorization-header'
      responses:
        '200':
          description: Successfully list identities
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope-list'
                - properties:
                    type:
                      example: array
                    data:
                      items:
                        $ref: '#/components/schemas/IdentityResponse'
  /entities/identity/{id}:
    patch:
      summary: Update an Identity
      description: Update information about an Identity
      operationId: UpdateIdentity
      tags:
      - Identity
      parameters:
      - $ref: '#/components/parameters/id-path'
      - $ref: '#/components/parameters/authorization-header'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                  example: Person Name
                  description: legal name
                title:
                  type: string
                  example: President
                  description: job title
                email:
                  type: string
                  example: person.name@justifi.ai
                  description: email address
                phone:
                  type: string
                  example: '6124011111'
                  description: phone number
                dob_day:
                  type: string
                  example: '01'
                  description: two-digit birth day
                dob_month:
                  type: string
                  example: '01'
                  description: two-digit birth month
                dob_year:
                  type: string
                  example: '1980'
                  description: four-digit birth year (must be at least 18 years old)
                identification_number:
                  type: string
                  example: '123456789'
                  description: full social security number
                is_owner:
                  type: boolean
                  description: if an identity owns 25% or more of the business, they are considered an owner
                ownership_percentage:
                  type: integer
                  minimum: 0
                  maximum: 100
                  example: 25
                  description: percentage of the business owned by this identity (0–100); applies when is_owner is true
                metadata:
                  type: object
                  description: any useful information you'd like to store alongside this identity
                  additionalProperties: true
                  example:
                    language: english
                    social_network: '@person'
      responses:
        '200':
          description: Identity updated
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope'
                - properties:
                    type:
                      example: identity
                    data:
                      $ref: '#/components/schemas/IdentityResponse'
    get:
      summary: Get an Identity
      description: Get information about an Identity
      operationId: GetIdentity
      tags:
      - Identity
      parameters:
      - $ref: '#/components/parameters/id-path'
      - $ref: '#/components/parameters/authorization-header'
      responses:
        '200':
          description: Get Identity
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope'
                - properties:
                    type:
                      example: identity
                    data:
                      $ref: '#/components/schemas/IdentityResponse'
components:
  schemas:
    Envelope:
      type: object
      properties:
        id:
          description: the object id, also found in the data object
          type: string
          format: uuid
          example: prefix_xyz (same as id of data object)
        type:
          description: the object type, or array of objects
          type: string
          example: account
        data:
          description: the attributes for the object
          type: object
        page_info:
          description: information for cursor style pagination, is null for single records
          type: null
    AddressResponse:
      type: object
      properties:
        id:
          description: unique address id
          type: string
          example: addr_123xyz
        line1:
          type: string
          example: 123 Example St
        line2:
          type: string
          example: Suite 101
        city:
          type: string
          example: Minneapolis
        state:
          type: string
          example: MN
        postal_code:
          type: string
          example: '55555'
        country:
          type: string
          example: USA
        created_at:
          type: string
          format: date-time
          example: '2021-01-01T12:00:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2021-01-01T12:00:00Z'
    IdentityResponse:
      type: object
      properties:
        id:
          description: unique identity id
          type: string
          example: idty_xyz
        platform_account_id:
          type: string
          format: uuid
          example: acc_xyz
        business_id:
          type: string
          format: uuid
          example: biz_xyz
          description: associated business
        name:
          type: string
          example: Person Name
          description: legal name
        title:
          type: string
          example: President
          description: job title
        email:
          type: string
          example: person.name@justifi.ai
          description: email address
        phone:
          type: string
          example: '6124011111'
          description: phone number
        dob_day:
          type: string
          example: '01'
          description: two-digit birth day
        dob_month:
          type: string
          example: '01'
          description: two-digit birth month
        dob_year:
          type: string
          example: '1980'
          description: four-digit birth year (must be at least 18 years old)
        ssn_last4:
          type: string
          example: '6789'
          description: last four digits of social security number (computed from identification_number)
        is_owner:
          type: boolean
          example: true
          description: if an identity owns 25% or more of the business, they are considered an owner
        ownership_percentage:
          type: integer
          minimum: 0
          maximum: 100
          example: 25
          description: percentage of the business owned by this identity (0–100); only returned when is_owner is true
        metadata:
          type: object
          format: json
          description: any useful information you'd like to store alongside this identity
        address:
          $ref: '#/components/schemas/AddressResponse'
        documents:
          type: array
          items:
            $ref: '#/components/schemas/Document'
        created_at:
          type: string
          format: date-time
          example: '2021-01-01T12:00:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2021-01-01T12:00:00Z'
    Address:
      type: object
      properties:
        line1:
          type: string
          example: 123 Example St
        line2:
          type: string
          example: Suite 101
        city:
          type: string
          example: Minneapolis
        state:
          type: string
          example: MN
        postal_code:
          type: string
          example: '55555'
        country:
          type: string
          example: USA
    Envelope-list:
      type: object
      properties:
        id:
          description: the object id
          type: number
          example: 1
        type:
          description: the object type, or array of objects
          type: string
          example: account
        data:
          description: the list of objects
          type: array
        page_info:
          description: information for cursor style pagination
          $ref: '#/components/schemas/PageInfo'
    PageInfo:
      type: object
      properties:
        end_cursor:
          description: the encoded id of the last record in the current list
          type: string
          example: WyIyMDIyLTAyLTA4IDE5OjUyOjM3LjEwNDE3MzAwMCIsIjY4MDliYTU5LTYxYjctNDg3MS05YWFiLWE2Y2MyNmY3M2M1ZCJd
        has_next:
          description: true if the collection contains records following the current list
          type: boolean
          default: false
        has_previous:
          description: true if the collection contains records ahead of the current list
          type: boolean
          default: false
        start_cursor:
          description: the encoded id of the first record in the current list
          type: string
          example: WyIyMDIyLTAyLTA4IDIwOjAxOjU4LjEyMDIzMjAwMCIsIjU5ZTFjNGI1LWFlOWQtNDIyZC04MTVkLWNjNzQ5NzdlYmFjYSJd
    Document:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: doc_abc123
        description:
          type: string
          example: My Document
          description: description of the document, used for your reference
        file_name:
          type: string
          example: my_document
          description: file name of the document
        file_type:
          type: string
          example: pdf
          description: the file media type/extension of the file you are uploading. For example, text/plain, application/pdf, image/png
        document_type:
          type: string
          enum:
          - articles_of_incorporation
          - balance_sheet
          - bank_statement
          - birth_certificate
          - business_registration
          - citizenship_card
          - driver_license
          - foreign_passport
          - government_id
          - nexus_card
          - passport
          - profit_and_loss_statement
          - resident_card
          - sin_card
          - ssn_card
          - status_card
          - tax_return
          - voided_check
          - other
          example: balance_sheet
        business_id:
          type: string
          format: uuid
          example: biz_abc123
          description: the business id to associate with this document (one of business id or identity id is required)
        identity_id:
          type: string
          format: uuid
          example: idty_abc123
          description: the identity id to associate with this document (one of business id or identity id is required)
        presigned_url:
          type: string
          format: url
          description: url used to PUT or GET the document to our cloud provider. This is not returned via the list API
          example: https://test.test/doc_abc123/file_name.pdf
        metadata:
          type: object
          format: json
          description: any useful information you'd like to store alongside this document
          additionalProperties: true
          example:
            language: english
            social_network: '@person'
        status:
          type: string
          enum:
          - pending uploaded canceled
        created_at:
          type: string
          format: date-time
          example: '2021-01-01T12:00:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2021-01-01T12:00:00Z'
  parameters:
    id-path:
      in: path
      name: id
      schema:
        type: string
        format: uuid
      required: true
    authorization-header:
      in: header
      name: Authorization
      schema:
        type: string
      required: true
      example: Bearer {access_token}
      description: the `access_token` value returned from the JustiFi `oauth/token` endpoint (be sure to append `Bearer` before the token)
x-tagGroups:
- name: Authorization
  tags:
  - API Credentials
  - Web Component Tokens
- name: For Platforms
  tags:
  - Sub Accounts
  - Platform Wallet Accounts
  - Onboarding via Component
  - Hosted Onboarding
  - Onboarding via API
  - Fee Configurations
  - Proceeds
  - Reports
- name: Payment Resources
  tags:
  - Payments
  - Payment Methods
  - Tokenize via Component
  - Payment Method Groups
  - Refunds
  - Disputes
  - Payouts
  - Payout Holds
  - Balance Transactions
  - Ach Return Fees
  - Payment Method Migration
- name: Checkout Resources
  tags:
  - Checkouts
  - Checkout via Component
  - Checkout via API
- name: Insurance Resources
  tags:
  - Bind Insurance
- name: Entity Resources
  tags:
  - Business
  - Identity
  - Address
  - Document
  - Bank Account
  - Terms and Conditions
  - Provisioning
- name: Card Present Resources
  tags:
  - Terminals
  - Terminals Orders
- name: Libraries
  tags:
  - JustiFi Web Components
  - JustiFi SDK
- name: Event Publishing
  tags:
  - Events
  - Webhook Delivery
