openapi: 3.2.0
info:
  description: '## Introduction


    The JustiFi API is a REST-based payment processing API.'
  title: JustiFi API Documentation Payment Method Groups API
  termsOfService: https://justifi.ai/terms-and-conditions
  x-logo:
    url: https://justifi-brand-assets.s3.us-east-2.amazonaws.com/justifi-light-bg.png
  contact:
    email: api-development@justifi.ai
servers:
- url: https://api.justifi.ai/v1
  description: JustiFi API
tags:
- name: Payment Method Groups
  description: Payment method groups are a way to associate payment methods to a single group for easy access.
paths:
  /payment_method_groups:
    post:
      summary: Create a Payment Method Group
      description: You can create payment methods groups ahead of time, then associate payment methods and easily filter them.
      operationId: CreatePaymentMethodGroup
      tags:
      - Payment Method Groups
      parameters:
      - $ref: '#/components/parameters/authorization-header'
      - $ref: '#/components/parameters/sub-account-required'
      responses:
        '201':
          description: Payment method group was created successfully
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope'
                - properties:
                    type:
                      example: payment_method_group
                    data:
                      $ref: '#/components/schemas/PaymentMethodGroupResponse'
    get:
      summary: List Payment Method Groups
      description: List payment method groups associated to an account
      operationId: ListPaymentMethodGroup
      tags:
      - Payment Method Groups
      parameters:
      - $ref: '#/components/parameters/authorization-header'
      - $ref: '#/components/parameters/sub-account'
      responses:
        '200':
          description: Successfully list payment method groups
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope-list'
                - properties:
                    type:
                      example: array
                    data:
                      items:
                      - $ref: '#/components/schemas/PaymentMethodGroupResponse'
  /payment_method_groups/{id}:
    get:
      summary: Get a Payment Method Group
      description: Get payment method group associated to an account
      operationId: GetPaymentMethodGroup
      tags:
      - Payment Method Groups
      parameters:
      - $ref: '#/components/parameters/authorization-header'
      - $ref: '#/components/parameters/sub-account'
      - $ref: '#/components/parameters/id-path'
      responses:
        '200':
          description: Successfully get payment method group
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope'
                - properties:
                    type:
                      example: payment_method_group
                    data:
                      $ref: '#/components/schemas/PaymentMethodGroupResponse'
    patch:
      summary: Update a Payment Method Group
      description: Updates a payment method group to associate payment methods
      operationId: PatchPaymentMethodGroup
      tags:
      - Payment Method Groups
      parameters:
      - $ref: '#/components/parameters/authorization-header'
      - $ref: '#/components/parameters/sub-account'
      - $ref: '#/components/parameters/id-path'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                payment_method_ids:
                  type: array
                  description: Payment method ids to be associated with the payment method group
                  example:
                  - pm_123xyz
                  - pm_456abc
                  items:
                    type: uuid
      responses:
        '200':
          description: Payment method group update successful
  /payment_method_groups/{id}/payment_methods/{payment_method_id}:
    delete:
      summary: Remove a Payment Method from a Payment Method Group
      description: Removes a payment method from a payment method group
      operationId: RemovePaymentMethodFromGroup
      tags:
      - Payment Method Groups
      parameters:
      - $ref: '#/components/parameters/authorization-header'
      - $ref: '#/components/parameters/sub-account'
      - $ref: '#/components/parameters/id-path'
      - name: payment_method_id
        in: path
        required: true
        description: ID of the payment method to remove
        schema:
          type: string
          format: uuid
          example: pm_123xyz
      responses:
        '200':
          description: Payment method successfully removed from group
components:
  schemas:
    Envelope:
      type: object
      properties:
        id:
          description: the object id, also found in the data object
          type: string
          format: uuid
          example: prefix_xyz (same as id of data object)
        type:
          description: the object type, or array of objects
          type: string
          example: account
        data:
          description: the attributes for the object
          type: object
        page_info:
          description: information for cursor style pagination, is null for single records
          type: null
    Envelope-list:
      type: object
      properties:
        id:
          description: the object id
          type: number
          example: 1
        type:
          description: the object type, or array of objects
          type: string
          example: account
        data:
          description: the list of objects
          type: array
        page_info:
          description: information for cursor style pagination
          $ref: '#/components/schemas/PageInfo'
    PageInfo:
      type: object
      properties:
        end_cursor:
          description: the encoded id of the last record in the current list
          type: string
          example: WyIyMDIyLTAyLTA4IDE5OjUyOjM3LjEwNDE3MzAwMCIsIjY4MDliYTU5LTYxYjctNDg3MS05YWFiLWE2Y2MyNmY3M2M1ZCJd
        has_next:
          description: true if the collection contains records following the current list
          type: boolean
          default: false
        has_previous:
          description: true if the collection contains records ahead of the current list
          type: boolean
          default: false
        start_cursor:
          description: the encoded id of the first record in the current list
          type: string
          example: WyIyMDIyLTAyLTA4IDIwOjAxOjU4LjEyMDIzMjAwMCIsIjU5ZTFjNGI1LWFlOWQtNDIyZC04MTVkLWNjNzQ5NzdlYmFjYSJd
    PaymentMethodGroupResponse:
      type: object
      properties:
        id:
          description: the object id
          type: string
          example: pm_123xyz
        account_id:
          description: the account_id associated with the object
          type: string
          example: acc_123xyz
        platform_account_id:
          description: the account_id for the platform account associated with the object
          type: string
          example: acc_321abc
  parameters:
    id-path:
      in: path
      name: id
      schema:
        type: string
        format: uuid
      required: true
    authorization-header:
      in: header
      name: Authorization
      schema:
        type: string
      required: true
      example: Bearer {access_token}
      description: the `access_token` value returned from the JustiFi `oauth/token` endpoint (be sure to append `Bearer` before the token)
    sub-account:
      in: header
      name: Sub-Account
      schema:
        type: string
      required: false
      example: acc_123xyz
      description: 'the id of the [sub account](https://docs.justifi.tech/api-spec#tag/Sub-Accounts) that this request applies to

        '
    sub-account-required:
      in: header
      name: Sub-Account
      schema:
        type: string
      required: true
      example: acc_123xyz
      description: 'the id of the [sub account](https://docs.justifi.tech/api-spec#tag/Sub-Accounts) that this request applies to

        '
x-tagGroups:
- name: Authorization
  tags:
  - API Credentials
  - Web Component Tokens
- name: For Platforms
  tags:
  - Sub Accounts
  - Platform Wallet Accounts
  - Onboarding via Component
  - Hosted Onboarding
  - Onboarding via API
  - Fee Configurations
  - Proceeds
  - Reports
- name: Payment Resources
  tags:
  - Payments
  - Payment Methods
  - Tokenize via Component
  - Payment Method Groups
  - Refunds
  - Disputes
  - Payouts
  - Payout Holds
  - Balance Transactions
  - Ach Return Fees
  - Payment Method Migration
- name: Checkout Resources
  tags:
  - Checkouts
  - Checkout via Component
  - Checkout via API
- name: Insurance Resources
  tags:
  - Bind Insurance
- name: Entity Resources
  tags:
  - Business
  - Identity
  - Address
  - Document
  - Bank Account
  - Terms and Conditions
  - Provisioning
- name: Card Present Resources
  tags:
  - Terminals
  - Terminals Orders
- name: Libraries
  tags:
  - JustiFi Web Components
  - JustiFi SDK
- name: Event Publishing
  tags:
  - Events
  - Webhook Delivery
