openapi: 3.2.0
info:
  description: '## Introduction


    The JustiFi API is a REST-based payment processing API.'
  title: JustiFi API Documentation Payments API
  termsOfService: https://justifi.ai/terms-and-conditions
  x-logo:
    url: https://justifi-brand-assets.s3.us-east-2.amazonaws.com/justifi-light-bg.png
  contact:
    email: api-development@justifi.ai
servers:
- url: https://api.justifi.ai/v1
  description: JustiFi API
tags:
- name: Payments
  description: 'To charge a payment method the desired amount, you''ll use a payment.

    You can choose whether to charge a payment method that''s already been

    tokenized or tokenize a new one when you create the payment.

    If a payment fails, the status will reflect it and an error code will be returned.

    You can retrieve information about your payments and refund them if needed.'
paths:
  /payments:
    post:
      summary: Create a Payment
      description: 'Authorize, capture, and charge a payment method. We limit concurrency to 10 concurrent requests per platform.

        This is due to the nature of the payments API, to reduce rejections, and false positive fraud detection during bulk

        payment processing.


        **Payment methods must be tokenized before creating a payment.** Tokenize payment methods use the embedded

        **JustiFi Tokenize Payment Method Web Component**

        to securely collect and tokenize card or bank account details.


        Once you have a payment method token (e.g. `pm_justifi123`), pass it in the `payment_method.token` field to create a payment.


        > **Note:** Passing raw card or bank account details directly to this endpoint requires prior approval. Contact JustiFi Customer Success

        if you have a use case that requires direct PAN submission. At minimum, a completed SAQ (Self-Assessment Questionnaire) is required to allow raw PAN submissions.


        *Note: If the sub account status is not `enabled`, `400` will be returned.*'
      operationId: CreatePayment
      tags:
      - Payments
      parameters:
      - $ref: '#/components/parameters/idempotency-key-header'
      - $ref: '#/components/parameters/authorization-header'
      - $ref: '#/components/parameters/sub-account-required'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                amount:
                  type: number
                  example: 10000
                  description: amount to charge in cents
                currency:
                  type: string
                  enum:
                  - usd
                  - cad
                  example: usd
                capture_strategy:
                  type: string
                  example: automatic
                  enum:
                  - automatic
                  - manual
                  description: automatic will authorize and capture the payment in the same request; manual will only authorize the payment. An authorized payment will need to be captured in a subsequent capture payment request. If not captured within 7 days the payment will be canceled.  Not supported by bank account (ACH) payment methods.
                email:
                  description: email address to associate with payment method
                  type: string
                  format: email
                payment_method:
                  type: object
                  properties:
                    token:
                      type: string
                      description: A payment method token obtained from the JustiFi Tokenize Payment Method Web Component.
                      example: pm_xyz
                  required:
                  - token
                application_fee_amount:
                  type: integer
                  description: 'Sets a custom application fee amount that applies to this payment, instead of relying on application fee rates configured at the platform account level (*only Platforms may set application_fee_amount*). Must be greater than zero.


                    **New integrations** should use the `fees` array instead for granular control over fee types and selective refunds. See [Enhanced Fee Management](#section/Enhanced-Fee-Management).


                    Cannot be used together with `fees`.


                    > **CAD Payments:** This parameter is not available for CAD payments. Fees for Canadian dollar payments are determined during merchant onboarding and are not configurable via the API. See [Canadian Payments](https://docs.justifi.tech/payments/canadianPayments) for details.

                    '
                  example: 400
                fees:
                  type: array
                  description: 'Array of fee objects to charge on this payment. See [Enhanced Fee Management](https://docs.justifi.tech/api-spec#section/Enhanced-Fee-Management) for full documentation.


                    Each fee object specifies:

                    - `type`: `processing_fee` or `platform_fee` (required)

                    - `amount`: Fee amount in cents (required)


                    **Benefits over `application_fee_amount`:**

                    - Separate fee types for clear reporting

                    - Selective refunds: Choose which fees to return

                    - Each fee type appears as a separate balance transaction


                    Cannot be used together with `application_fee_amount`.


                    > **Note:** The `fees` array will be empty in the create response. Fees are processed asynchronously — subscribe to payment webhook events (recommended) to receive the full fee details, or poll with a subsequent [Get Payment](#tag/Payments/operation/GetPayment) request.


                    > **CAD Payments:** This parameter is not available for CAD payments. Fees for Canadian dollar payments are determined during merchant onboarding and are not configurable via the API. See [Canadian Payments](https://docs.justifi.tech/payments/canadianPayments) for details.

                    '
                  items:
                    $ref: '#/components/schemas/Fee'
                  example:
                  - type: processing_fee
                    amount: 350
                  - type: platform_fee
                    amount: 500
                description:
                  type: string
                  description: your meaningful description of the payment (e.g. an order number or other value from your system)
                  example: order_xyz
                statement_descriptor:
                  type: string
                  description: description of the payment that will be available on the account's bank statement, must have between 5-22 alphanumeric characters and can include dash or underscore
                metadata:
                  type: object
                  format: json
                  description: 'Any useful information you''d like to store alongside this payment.


                    **Testing Disputes**: Include `dispute_test_spec` to create test disputes:

                    - `expected_result`: `"won"` or `"lost"` - Final dispute outcome

                    - `reason`: Dispute reason (`"fraudulent"`, `"unrecognized"`, `"duplicate"`, `"subscription_canceled"`, `"product_unacceptable"`, `"product_not_received"`, `"processing_error"`, `"credit_not_processed"`, `"general"`)

                    - `due_date`: Response deadline in YYYY-MM-DD format

                    - `event_publish_delay_in_seconds`: Delay before dispute creation (default: 0)

                    '
                  example: {}
                expedited:
                  type:
                  - boolean
                  - 'null'
                  description: settlement priority of the payment, only applies to ACH payments
                  example: null
              required:
              - amount
              - currency
              - capture_strategy
              - payment_method
            examples:
              Charge_10_USD_to_a_Tokenized_Payment_Method:
                value:
                  amount: 1000
                  currency: usd
                  capture_strategy: automatic
                  email: example@test.com
                  description: Charging $10 to a tokenized payment method
                  payment_method:
                    token: pm_justifi123
              Charge_10_USD_with_Custom_Application_Fee:
                value:
                  amount: 1000
                  application_fee_amount: 150
                  currency: usd
                  capture_strategy: automatic
                  email: example@test.com
                  description: Charging $10 with a $1.50 application fee
                  payment_method:
                    token: pm_justifi123
              Charge_100_USD_with_Enhanced_Fees:
                value:
                  amount: 10000
                  currency: usd
                  capture_strategy: automatic
                  email: example@test.com
                  description: Payment with enhanced fee management
                  fees:
                  - type: processing_fee
                    amount: 350
                  - type: platform_fee
                    amount: 500
                  payment_method:
                    token: pm_justifi123
              Create_Test_Dispute_Won:
                value:
                  amount: 5000
                  currency: usd
                  capture_strategy: automatic
                  email: example@test.com
                  description: Test payment that will generate a won dispute
                  metadata:
                    dispute_test_spec:
                      expected_result: won
                      reason: fraudulent
                      due_date: '2024-02-15'
                      event_publish_delay_in_seconds: 60
                  payment_method:
                    token: pm_justifi123
              Create_Test_Dispute_Lost:
                value:
                  amount: 10000
                  currency: usd
                  capture_strategy: automatic
                  email: example@test.com
                  description: Test payment that will generate a lost dispute
                  metadata:
                    dispute_test_spec:
                      expected_result: lost
                      reason: product_not_received
                      due_date: '2024-02-20'
                  payment_method:
                    token: pm_justifi123
      responses:
        '201':
          description: Payment was created successfully
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope'
                - properties:
                    type:
                      example: payment
                    data:
                      oneOf:
                      - $ref: '#/components/schemas/CardPayment'
                      - $ref: '#/components/schemas/BankAccountPayment'
              example: null
              examples:
                Card_payment_created:
                  value:
                    id: py_123xyz
                    type: payment
                    data:
                      id: py_123xyz
                      account_id: acc_123xyz
                      amount_disputed: 0
                      amount_refunded: 0
                      amount_returned: 0
                      amount: 10000
                      amount_refundable: 10000
                      application_fee_rate_id: afr_123xyz
                      balance: 99850
                      capture_strategy: automatic
                      captured: true
                      created_at: '2021-01-01T12:00:00Z'
                      currency: usd
                      description: my order xyz
                      disputed: false
                      error_code: null
                      error_description: null
                      fee_amount: 150
                      financial_transaction_id: ft_123xyz
                      is_test: true
                      metadata: {}
                      payment_intent_id: pi_xyz
                      checkout_id: cho_123
                      refunded: false
                      returned: false
                      status: succeeded
                      payment_mode: ecom
                      terminal_id: trm_123_xyz
                      updated_at: '2021-01-01T12:00:00Z'
                      payment_method:
                        card:
                          id: pm_123xyz
                          acct_last_four: '4242'
                          brand: visa
                          digital_wallet: null
                          name: Sylvia Fowles
                          token: pm_123xyz
                          metadata: {}
                          bin_details:
                            type: Debit
                            card_brand: Visa
                            card_class: Consumer
                            country: United States of America
                            issuer: WELLS FARGO BANK
                            funding_source: Debit
                          created_at: '2021-01-01T12:00:00Z'
                          updated_at: '2021-01-01T12:00:00Z'
                        customer_id: 'null'
                        signature: 123abc
                      application_fee:
                        id: fee_123xyz
                        amount: 150
                        currency: usd
                        created_at: '2021-01-01T12:00:00Z'
                        updated_at: '2021-01-01T12:00:00Z'
                      transaction_hold:
                        id: th_123xyz
                        financial_transaction_id: ft_123xyz
                      refunds: []
                      disputes: []
                    page_info: null
                Bank_account_payment_created:
                  value:
                    id: py_123xyz
                    type: payment
                    data:
                      id: py_123xyz
                      account_id: acc_123xyz
                      amount_disputed: 0
                      amount_refunded: 0
                      amount_returned: 0
                      amount: 10000
                      amount_refundable: 10000
                      application_fee_rate_id: afr_123xyz
                      balance: 99850
                      capture_strategy: automatic
                      captured: true
                      created_at: '2021-01-01T12:00:00Z'
                      currency: usd
                      description: my order xyz
                      disputed: false
                      error_code: null
                      error_description: null
                      fee_amount: 150
                      financial_transaction_id: ft_123xyz
                      is_test: true
                      metadata: {}
                      payment_intent_id: pi_xyz
                      checkout_id: cho_123
                      refunded: false
                      returned: false
                      status: succeeded
                      payment_mode: ecom
                      terminal_id: null
                      updated_at: '2021-01-01T12:00:00Z'
                      payment_method:
                        bank_account:
                          id: pm_123xyz
                          acct_last_four: '4242'
                          name: Sylvia Fowles
                          brand: Wells Fargo
                          token: pm_123xyz
                          created_at: '2021-01-01T12:00:00Z'
                          updated_at: '2021-01-01T12:00:00Z'
                        customer_id: cust_123xyz
                        signature: 123abc
                      application_fee:
                        id: fee_123xyz
                        amount: 150
                        currency: usd
                        created_at: '2021-01-01T12:00:00Z'
                        updated_at: '2021-01-01T12:00:00Z'
                      transaction_hold:
                        id: th_123xyz
                        financial_transaction_id: ft_123xyz
                      refunds: []
                      disputes: []
                    page_info: null
        '400':
          description: Full card number submitted without PCI approval
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaymentError'
              examples:
                Full_PAN_not_allowed:
                  value:
                    error:
                      code: full_pan_not_allowed
                      message: Full card numbers are not accepted on this endpoint. Please use the tokenization iframe to create a payment method token first.
        '402':
          description: Error when processing the payment
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaymentError'
              example: null
              examples:
                Card_payment_error:
                  value:
                    error:
                      code: card_declined
                      decline_code: do_not_retry
                      message: This card has been rejected. Please try a different card or payment method
                      network: MASTERCARD
                      network_error_category: '03'
                      network_error_code: '504'
    get:
      summary: List Payments
      description: List the payments for your account. This endpoint supports pagination.
      operationId: ListPayments
      tags:
      - Payments
      parameters:
      - $ref: '#/components/parameters/authorization-header'
      - $ref: '#/components/parameters/sub-account'
      - $ref: '#/components/parameters/payment-method-id'
      - $ref: '#/components/parameters/void-id'
      - $ref: '#/components/parameters/created-before'
      - $ref: '#/components/parameters/created-after'
      - in: query
        name: payment_status
        schema:
          type: string
          enum:
          - succeeded
          - failed
          - pending
          - authorized
          - refunded
          - disputed
        required: false
        example: refunded
        description: 'filter to payments which have request payment_status

          '
      responses:
        '200':
          description: Successfully list payments
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope-list'
                - properties:
                    type:
                      example: array
                    data:
                      items:
                      - $ref: '#/components/schemas/CardPayment'
                      - $ref: '#/components/schemas/BankAccountPayment'
  /payments/{id}:
    get:
      summary: Get a Payment
      description: Get information about a payment.
      operationId: GetPayment
      tags:
      - Payments
      parameters:
      - $ref: '#/components/parameters/id-path'
      - $ref: '#/components/parameters/authorization-header'
      responses:
        '200':
          description: Successfully get a payment
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope'
                - properties:
                    data:
                      oneOf:
                      - $ref: '#/components/schemas/CardPayment'
                      - $ref: '#/components/schemas/BankAccountPayment'
              example: null
              examples:
                Get_a_card_payment:
                  value:
                    id: py_123xyz
                    type: payment
                    data:
                      id: py_123xyz
                      account_id: acc_123xyz
                      amount_disputed: 0
                      amount_refunded: 0
                      amount_returned: 0
                      amount: 10000
                      amount_refundable: 10000
                      application_fee_rate_id: afr_123xyz
                      balance: 99850
                      capture_strategy: automatic
                      captured: true
                      created_at: '2021-01-01T12:00:00Z'
                      currency: usd
                      description: my order xyz
                      disputed: false
                      error_code: null
                      error_description: null
                      fee_amount: 150
                      financial_transaction_id: ft_123xyz
                      is_test: true
                      metadata: {}
                      payment_intent_id: pi_xyz
                      checkout_id: cho_123
                      refunded: false
                      returned: false
                      status: succeeded
                      payment_mode: ecom
                      terminal_id: trm_123_xyz
                      updated_at: '2021-01-01T12:00:00Z'
                      payment_method:
                        card:
                          id: pm_123xyz
                          acct_last_four: '4242'
                          brand: visa
                          name: Sylvia Fowles
                          token: pm_123xyz
                          metadata: {}
                          created_at: '2021-01-01T12:00:00Z'
                          updated_at: '2021-01-01T12:00:00Z'
                        customer_id: null
                        signature: 123abc
                      fees:
                      - id: pyfee_abc
                        type: processing_fee
                        amount: 150
                        currency: usd
                        remaining_amount: 150
                        source_configuration_id: null
                        source_fee_type: null
                        refund_id: null
                      application_fee:
                        id: fee_123xyz
                        amount: 150
                        currency: usd
                        created_at: '2021-01-01T12:00:00Z'
                        updated_at: '2021-01-01T12:00:00Z'
                      transaction_hold:
                        id: th_123xyz
                        financial_transaction_id: ft_123xyz
                      refunds: []
                      disputes: []
                    page_info: null
                Get_a_bank_account_payment:
                  value:
                    id: py_123xyz
                    type: payment
                    data:
                      id: py_123xyz
                      account_id: acc_123xyz
                      amount_disputed: 0
                      amount_refunded: 0
                      amount_returned: 0
                      amount: 10000
                      amount_refundable: 10000
                      application_fee_rate_id: afr_123xyz
                      balance: 99850
                      capture_strategy: automatic
                      captured: true
                      created_at: '2021-01-01T12:00:00Z'
                      currency: usd
                      description: my order xyz
                      disputed: false
                      error_code: null
                      error_description: null
                      fee_amount: 150
                      financial_transaction_id: ft_123xyz
                      is_test: true
                      metadata: {}
                      payment_intent_id: pi_xyz
                      checkout_id: cho_123
                      refunded: false
                      returned: false
                      status: succeeded
                      payment_mode: ecom
                      terminal_id: null
                      updated_at: '2021-01-01T12:00:00Z'
                      payment_method:
                        bank_account:
                          id: pm_123xyz
                          acct_last_four: '4242'
                          name: Sylvia Fowles
                          brand: Wells Fargo
                          token: pm_123xyz
                          created_at: '2021-01-01T12:00:00Z'
                          updated_at: '2021-01-01T12:00:00Z'
                        customer_id: cust_123xyz
                        signature: 123abc
                      fees:
                      - id: pyfee_abc
                        type: processing_fee
                        amount: 150
                        currency: usd
                        remaining_amount: 150
                        source_configuration_id: null
                        source_fee_type: null
                        refund_id: null
                      application_fee:
                        id: fee_123xyz
                        amount: 150
                        currency: usd
                        created_at: '2021-01-01T12:00:00Z'
                        updated_at: '2021-01-01T12:00:00Z'
                      transaction_hold:
                        id: th_123xyz
                        financial_transaction_id: ft_123xyz
                      refunds: []
                      disputes: []
                    page_info: null
                Get_a_CAD_card_payment_with_refund_fee:
                  value:
                    id: py_cad123
                    type: payment
                    data:
                      id: py_cad123
                      account_id: acc_123xyz
                      amount_disputed: 0
                      amount_refunded: 5000
                      amount_returned: 0
                      amount: 10000
                      amount_refundable: 5000
                      application_fee_rate_id: null
                      balance: 4650
                      capture_strategy: automatic
                      captured: true
                      created_at: '2021-01-01T12:00:00Z'
                      currency: cad
                      description: my order xyz
                      disputed: false
                      error_code: null
                      error_description: null
                      fee_amount: 350
                      financial_transaction_id: ft_123xyz
                      is_test: true
                      metadata: {}
                      payment_intent_id: pi_xyz
                      checkout_id: cho_123
                      refunded: true
                      returned: false
                      status: partially_refunded
                      payment_mode: ecom
                      terminal_id: null
                      updated_at: '2021-01-01T12:00:00Z'
                      payment_method:
                        card:
                          id: pm_123xyz
                          acct_last_four: '4242'
                          brand: visa
                          name: Sylvia Fowles
                          token: pm_123xyz
                          metadata: {}
                          created_at: '2021-01-01T12:00:00Z'
                          updated_at: '2021-01-01T12:00:00Z'
                        customer_id: null
                        signature: 123abc
                      fees:
                      - id: pyfee_cad1
                        type: processing_fee
                        amount: 300
                        currency: cad
                        remaining_amount: 300
                        source_configuration_id: null
                        source_fee_type: null
                        refund_id: null
                      - id: pyfee_cad2
                        type: refund_processing_fee
                        amount: 50
                        currency: cad
                        remaining_amount: 50
                        source_configuration_id: null
                        source_fee_type: null
                        refund_id: re_cad123
                      application_fee: null
                      transaction_hold: null
                      refunds:
                      - id: re_cad123
                        payment_id: py_cad123
                        amount: 5000
                        description: customer canceled part of their order
                        reason: customer_request
                        status: succeeded
                        metadata: {}
                        returned_fees: []
                        created_at: '2021-01-01T12:00:00Z'
                        updated_at: '2021-01-01T12:00:00Z'
                      disputes: []
                    page_info: null
    patch:
      summary: Update a Payment
      description: Change a payment's description or metadata.
      operationId: UpdatePayment
      parameters:
      - $ref: '#/components/parameters/id-path'
      - $ref: '#/components/parameters/idempotency-key-header'
      - $ref: '#/components/parameters/authorization-header'
      tags:
      - Payments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                description:
                  type: string
                  description: your meaningful description of the payment (e.g. an order number or other value from your system)
                  example: order_xyz new description
                metadata:
                  type: object
                  format: json
                  description: any useful information you'd like to store alongside this payment; when you update metadata, any previous metadata will be overwritten
      responses:
        '200':
          description: Payment update was successful
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope'
                - properties:
                    data:
                      oneOf:
                      - $ref: '#/components/schemas/CardPayment'
                      - $ref: '#/components/schemas/BankAccountPayment'
              example: null
              examples:
                Update_Card_Payment:
                  value:
                    id: py_123xyz
                    type: payment
                    data:
                      id: py_123xyz
                      account_id: acc_123xyz
                      amount_refunded: 0
                      amount_disputed: 0
                      amount_returned: 0
                      amount: 10000
                      amount_refundable: 10000
                      application_fee_rate_id: afr_123xyz
                      balance: 99850
                      capture_strategy: automatic
                      captured: true
                      created_at: '2021-01-01T12:00:00Z'
                      currency: usd
                      description: order xyz new description
                      disputed: false
                      error_code: null
                      error_description: null
                      fee_amount: 150
                      financial_transaction_id: ft_123xyz
                      is_test: true
                      metadata: {}
                      payment_intent_id: pi_xyz
                      checkout_id: cho_123
                      refunded: false
                      returned: false
                      status: succeeded
                      payment_mode: ecom
                      updated_at: '2021-01-01T12:00:00Z'
                      payment_method:
                        card:
                          id: pm_123xyz
                          acct_last_four: '4242'
                          brand: visa
                          name: Sylvia Fowles
                          token: pm_123xyz
                          metadata: {}
                          created_at: '2021-01-01T12:00:00Z'
                          updated_at: '2021-01-01T12:00:00Z'
                        customer_id: null
                        signature: 123abc
                      application_fee:
                        id: fee_123xyz
                        amount: 150
                        currency: usd
                        created_at: '2021-01-01T12:00:00Z'
                        updated_at: '2021-01-01T12:00:00Z'
                      refunds: []
                      disputes: []
                    page_info: null
                Update_Bank_Account_Payment:
                  value:
                    id: py_123xyz
                    type: payment
                    data:
                      id: py_123xyz
                      account_id: acc_123xyz
                      amount_disputed: 0
                      amount_refunded: 0
                      amount_returned: 0
                      amount: 10000
                      amount_refundable: 10000
                      application_fee_rate_id: afr_123xyz
                      balance: 99850
                      capture_strategy: automatic
                      captured: true
                      created_at: '2021-01-01T12:00:00Z'
                      currency: usd
                      description: order xyz new description
                      disputed: false
                      error_code: null
                      error_description: null
                      fee_amount: 150
                      financial_transaction_id: ft_123xyz
                      checkout_id: cho_123
                      is_test: true
                      metadata: {}
                      payment_intent_id: pi_xyz
                      refunded: false
                      returned: false
                      status: succeeded
                      payment_mode: ecom
                      updated_at: '2021-01-01T12:00:00Z'
                      payment_method:
                        bank_account:
                          id: pm_123xyz
                          acct_last_four: '4242'
                          name: Sylvia Fowles
                          brand: Wells Fargo
                          token: pm_123xyz
                          created_at: '2021-01-01T12:00:00Z'
                          updated_at: '2021-01-01T12:00:00Z'
                        customer_id: cust_123xyz
                        signature: 123abc
                      application_fee:
                        id: fee_123xyz
                        amount: 150
                        currency: usd
                        created_at: '2021-01-01T12:00:00Z'
                        updated_at: '2021-01-01T12:00:00Z'
                      refunds: []
                      disputes: []
                    page_info: null
  /payments/{id}/capture:
    post:
      summary: Capture a Payment
      description: 'To charge a payment method and capture a previously authorized payment. Returns a `payment_already_captured` error if the payment is in a captured state.

        If not captured an authorized payment will be canceled after 7 days.


        *Note: If the sub account status is not `enabled`, `400` will be returned.*'
      operationId: CapturePayment
      parameters:
      - $ref: '#/components/parameters/id-path'
      - $ref: '#/components/parameters/idempotency-key-header'
      - $ref: '#/components/parameters/authorization-header'
      tags:
      - Payments
      responses:
        '200':
          description: Payment with identical idempotency key was captured
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope'
                - properties:
                    data:
                      oneOf:
                      - $ref: '#/components/schemas/CardPayment'
                      - $ref: '#/components/schemas/BankAccountPayment'
              example: null
              examples:
                Card_payment_with_identical_idempotency_key_captured:
                  value:
                    id: py_123xyz
                    type: payment
                    data:
                      id: py_123xyz
                      account_id: acc_123xyz
                      amount_disputed: 0
                      amount_refunded: 0
                      amount_returned: 0
                      amount: 10000
                      amount_refundable: 10000
                      application_fee_rate_id: afr_123xyz
                      balance: 99850
                      capture_strategy: automatic
                      captured: true
                      created_at: '2021-01-01T12:00:00Z'
                      currency: usd
                      description: order xyz
                      disputed: false
                      error_code: null
                      error_description: null
                      fee_amount: 150
                      financial_transaction_id: ft_123xyz
                      is_test: true
                      metadata: {}
                      payment_intent_id: pi_xyz
                      checkout_id: cho_123
                      refunded: false
                      returned: false
                      status: succeeded
                      payment_mode: ecom
                      terminal_id: trm_123_xyz
                      updated_at: '2021-01-01T12:00:00Z'
                      payment_method:
                        card:
                          id: pm_123xyz
                          acct_last_four: '4242'
                          brand: visa
                          name: Sylvia Fowles
                          token: pm_123xyz
                          metadata: {}
                          bin_details:
                            type: Debit
                            card_brand: Visa
                            card_class: Consumer
                            country: United States of America
                            issuer: WELLS FARGO BANK
                            funding_source: Debit
                          created_at: '2021-01-01T12:00:00Z'
                          updated_at: '2021-01-01T12:00:00Z'
                        customer_id: null
                        signature: 123abc
                      application_fee:
                        id: fee_123xyz
                        amount: 150
                        currency: usd
                        created_at: '2021-01-01T12:00:00Z'
                        updated_at: '2021-01-01T12:00:00Z'
                      transaction_hold:
                        id: th_123xyz
                        financial_transaction_id: ft_123xyz
                      refunds: []
                      disputes: []
                    page_info: null
                Bank_account_payment_with_identical_idempotency_key_captured:
                  value:
                    id: py_123xyz
                    type: payment
                    data:
                      id: py_123xyz
                      account_id: acc_123xyz
                      amount_disputed: 0
                      amount_refunded: 0
                      amount_returned: 0
                      amount: 10000
                      amount_refundable: 10000
                      application_fee_rate_id: afr_123xyz
                      balance: 99850
                      capture_strategy: automatic
                      captured: true
                      created_at: '2021-01-01T12:00:00Z'
                      currency: usd
                      description: order xyz
                      disputed: false
                      error_code: null
                      error_description: null
                      fee_amount: 150
                      financial_transaction_id: ft_123xyz
                      is_test: true
                      metadata: {}
                      payment_intent_id: pi_xyz
                      checkout_id: cho_123
                      refunded: false
                      returned: false
                      status: succeeded
                      payment_mode: ecom
                      terminal_id: null
                      updated_at: '2021-01-01T12:00:00Z'
                      payment_method:
                        bank_account:
                          id: pm_123xyz
                          acct_last_four: '4242'
                          name: Sylvia Fowles
                          brand: Wells Fargo
                          token: pm_123xyz
                          created_at: '2021-01-01T12:00:00Z'
                          updated_at: '2021-01-01T12:00:00Z'
                        customer_id: cust_123xyz
                        signature: 123abc
                      application_fee:
                        id: fee_123xyz
                        amount: 150
                        currency: usd
                        created_at: '2021-01-01T12:00:00Z'
                        updated_at: '2021-01-01T12:00:00Z'
                      transaction_hold:
                        id: th_123xyz
                        financial_transaction_id: ft_123xyz
                      refunds: []
                      disputes: []
                    page_info: null
        '201':
          description: Payment was captured successfully
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope'
                - properties:
                    data:
                      oneOf:
                      - $ref: '#/components/schemas/CardPayment'
                      - $ref: '#/components/schemas/BankAccountPayment'
              example: null
              examples:
                Card_payment_captured:
                  value:
                    id: py_123xyz
                    type: payment
                    data:
                      id: py_123xyz
                      account_id: acc_123xyz
                      amount_disputed: 0
                      amount_refunded: 0
                      amount_returned: 0
                      amount: 10000
                      amount_refundable: 10000
                      application_fee_rate_id: afr_123xyz
                      balance: 99850
                      capture_strategy: automatic
                      captured: true
                      created_at: '2021-01-01T12:00:00Z'
                      currency: usd
                      description: order xyz
                      disputed: false
                      error_code: null
                      error_description: null
                      fee_amount: 150
                      financial_transaction_id: ft_123xyz
                      is_test: true
                      metadata: {}
                      payment_intent_id: pi_xyz
                      checkout_id: cho_123
                      refunded: false
                      returned: false
                      status: succeeded
                      payment_mode: ecom
                      terminal_id: trm_123_xyz
                      updated_at: '2021-01-01T12:00:00Z'
                      payment_method:
                        card:
                          id: pm_123xyz
                          acct_last_four: 4242
                          brand: visa
                          name: Sylvia Fowles
                          token: pm_123xyz
                          metadata: {}
                          bin_details:
                            type: Debit
                            card_brand: Visa
                            card_class: Consumer
                            country: United States of America
                            issuer: WELLS FARGO BANK
                            funding_source: Debit
                          created_at: '2021-01-01T12:00:00Z'
                          updated_at: '2021-01-01T12:00:00Z'
                        customer_id: null
                        signature: 123abc
                      application_fee:
                        id: fee_123xyz
                        amount: 150
                        currency: usd
                        created_at: '2021-01-01T12:00:00Z'
                        updated_at: '2021-01-01T12:00:00Z'
                      transaction_hold:
                        id: th_123xyz
                        financial_transaction_id: ft_123xyz
                      refunds: []
                      disputes: []
                    page_info: null
                Bank_account_payment_captured:
                  value:
                    id: py_123xyz
                    type: payment
                    data:
                      id: py_123xyz
                      account_id: acc_123xyz
                      amount_disputed: 0
                      amount_refunded: 0
                      amount_returned: 0
                      amount: 10000
                      amount_refundable: 10000
                      application_fee_rate_id: afr_123xyz
                      balance: 99850
                      capture_strategy: automatic
                      captured: true
                      created_at: '2021-01-01T12:00:00Z'
                      currency: usd
                      description: order xyz
                      disputed: false
                      error_code: null
                      error_description: null
                      fee_amount: 150
                      financial_transaction_id: ft_123xyz
                      is_test: true
                      metadata: {}
                      payment_intent_id: pi_xyz
                      checkout_id: cho_123
                      refunded: false
                      returned: false
                      status: succeeded
                      payment_mode: ecom
                      terminal_id: null
                      updated_at: '2021-01-01T12:00:00Z'
                      payment_method:
                        bank_account:
                          id: pm_123xyz
                          acct_last_four: '4242'
                          name: Sylvia Fowles
                          brand: Wells Fargo
                          token: pm_123xyz
                          created_at: '2021-01-01T12:00:00Z'
                          updated_at: '2021-01-01T12:00:00Z'
                        customer_id: cust_123xyz
                        signature: 123abc
                      application_fee:
                        id: fee_123xyz
                        amount: 150
                        currency: usd
                        created_at: '2021-01-01T12:00:00Z'
                        updated_at: '2021-01-01T12:00:00Z'
                      transaction_hold:
                        id: th_123xyz
                        financial_transaction_id: ft_123xyz
                      refunds: []
                      disputes: []
                    page_info: null
  /payments/{id}/refunds:
    post:
      tags:
      - Payments
      summary: Refund a Payment
      description: 'Issue a refund for a payment. You may refund the full payment amount or just a portion. When refunding a portion, multiple refunds are supported up until the full payment amount has been refunded.


        *Note: If the sub account status is not `enabled`, `400` will be returned.*'
      operationId: CreateRefund
      parameters:
      - in: path
        name: id
        schema:
          type: string
          format: uuid
        required: true
      - $ref: '#/components/parameters/idempotency-key-header'
      - $ref: '#/components/parameters/authorization-header'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                amount:
                  type: number
                  example: 10000
                  description: amount to refund; must be less than or equal to the `amount_refundable` on the payment
                description:
                  description: an optional note about this refund
                  type: string
                reason:
                  description: the reason this refund is being issued
                  type: string
                  example: duplicate
                  enum:
                  - duplicate
                  - fraudulent
                  - customer_request
                fees:
                  type: array
                  description: 'Array of fee objects to return to the merchant as part of this refund. If omitted, no fees are returned (current behavior preserved).


                    Each fee object specifies:

                    - `type`: The fee type to refund (`processing_fee` or `platform_fee`)

                    - `amount`: Amount to return in cents


                    **Validation:**

                    - The requested amount cannot exceed the `remaining_amount` for that fee type on the original payment

                    - The fee type must exist on the original payment


                    > **CAD Payments:** This parameter is not available for CAD payments. See [Canadian Payments](https://docs.justifi.tech/payments/canadianPayments) for details.


                    See [Enhanced Fee Management](#section/Enhanced-Fee-Management) for full documentation.

                    '
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - processing_fee
                        - platform_fee
                        description: The type of fee to refund
                        example: processing_fee
                      amount:
                        type: integer
                        description: Amount to refund in cents
                        example: 175
                    required:
                    - type
                    - amount
                  example:
                  - type: processing_fee
                    amount: 175
                metadata:
                  type: object
                  format: json
                  description: any useful information you'd like to store alongside this refund
                  example: {}
            examples:
              Full_refund:
                value:
                  amount: 10000
                  reason: customer_request
                  description: Customer requested full refund
              Partial_refund_with_processing_fee_return:
                value:
                  amount: 5000
                  reason: customer_request
                  description: Partial refund with processing fee returned
                  fees:
                  - type: processing_fee
                    amount: 175
              Partial_refund_with_all_fees_returned:
                value:
                  amount: 5000
                  reason: customer_request
                  description: Partial refund with both fees returned
                  fees:
                  - type: processing_fee
                    amount: 175
                  - type: platform_fee
                    amount: 250
      responses:
        '201':
          description: Refund was created successfully
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope'
                - properties:
                    type:
                      example: refund
                    data:
                      $ref: '#/components/schemas/Refund'
  /payments/{id}/void:
    post:
      tags:
      - Payments
      summary: Void a Payment
      description: 'Void a payment transaction to cancel a payment before it reaches settlement.

        Payment transactions are voidable within 25 minutes of the original transaction.

        This includes `authorized` payments (that were created with `capture_strategy` manual and have not been captured yet).'
      operationId: VoidPayment
      parameters:
      - $ref: '#/components/parameters/id-path'
      - $ref: '#/components/parameters/idempotency-key-header'
      - $ref: '#/components/parameters/authorization-header'
      responses:
        '200':
          description: Payment was voided successfully
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope'
                - properties:
                    data:
                      oneOf:
                      - $ref: '#/components/schemas/CardPayment'
                      - $ref: '#/components/schemas/BankAccountPayment'
              example: null
              examples:
                Card_payment_voided:
                  value:
                    id: py_123xyz
                    type: payment
                    data:
                      id: py_123xyz
                      account_id: acc_123xyz
                      amount_disputed: 0
                      amount_refunded: 0
                      amount_returned: 0
                      amount: 10000
                      amount_refundable: 10000
                      application_fee_rate_id: afr_123xyz
                      balance: 99850
                      capture_strategy: automatic
                      captured: true
                      created_at: '2021-01-01T12:00:00Z'
                      currency: usd
                      description: order xyz
                      disputed: false
                      error_code: null
                      error_description: null
                      fee_amount: 150
                      financial_transaction_id: ft_123xyz
                      is_test: true
                      metadata: {}
                      payment_intent_id: pi_xyz
                      refunded: false
                      returned: false
                      status: canceled
                      payment_mode: ecom
                      updated_at: '2021-01-01T12:00:00Z'
                      payment_method:
                        card:
                          id: pm_123xyz
                          acct_last_four: 4242
                          brand: visa
                          name: Sylvia Fowles
                          token: pm_123xyz
                          metadata: {}
                          created_at: '2021-01-01T12:00:00Z'
                          updated_at: '2021-01-01T12:00:00Z'
                        customer_id: null
                        signature: 123abc
                      application_fee:
                        id: fee_123xyz
                        amount: 150
                        currency: usd
                        created_at: '2021-01-01T12:00:00Z'
                        updated_at: '2021-01-01T12:00:00Z'
                      refunds: []
                      disputes: []
                    page_info: null
  /payments/{id}/payment_balance_transactions:
    get:
      summary: Get Payment Balance Transactions
      description: Get information about the payment-balance-transactions associated with a payment.
      operationId: GetPaymentBalanceTransactions
      tags:
      - Payments
      parameters:
      - $ref: '#/components/parameters/id-path'
      - $ref: '#/components/parameters/authorization-header'
      responses:
        '200':
          description: Successfully retrieve the payment-balance-transactions for a payment
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope-list'
                - properties:
                    type:
                      example: array
                    data:
                      items:
                        $ref: '#/components/schemas/PaymentBalanceTransaction'
components:
  schemas:
    Envelope:
      type: object
      properties:
        id:
          description: the object id, also found in the data object
          type: string
          format: uuid
          example: prefix_xyz (same as id of data object)
        type:
          description: the object type, or array of objects
          type: string
          example: account
        data:
          description: the attributes for the object
          type: object
        page_info:
          description: information for cursor style pagination, is null for single records
          type: null
    BankAccountPaymentMethod:
      type: object
      properties:
        bank_account:
          $ref: '#/components/schemas/BankAccount'
        customer_id:
          description: customer_id is a deprecated field. Please use our payment method groups instead.
          type:
          - string
          - 'null'
          example: cust_xyz
        signature:
          description: signature that uniquely identifies a credit card or bank account across payment methods
          type:
          - string
          - 'null'
          example: 4guAJNkVA3lRLVlanNVoBK
        account_id:
          description: account id associated with payment method
          type:
          - string
          - 'null'
          example: acc_123
    Fee:
      type: object
      description: A fee object specifying type and amount
      properties:
        type:
          type: string
          enum:
          - processing_fee
          - platform_fee
          description: 'The type of fee:

            - `processing_fee`: Fees related to payment processing costs

            - `platform_fee`: Fees for your platform''s services

            '
          example: processing_fee
        amount:
          type: integer
          description: Fee amount in cents
          example: 350
      required:
      - type
      - amount
    ApplicationFee:
      type: object
      properties:
        id:
          description: unique application fee id
          type: string
          format: uuid
          example: fee_123xyz
        amount:
          description: application fee amount, in cents
          type: number
          example: 150
        currency:
          type: string
          enum:
          - usd
          - cad
          example: usd
        created_at:
          type: string
          format: date-time
          example: '2021-01-01T12:00:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2021-01-01T12:00:00Z'
    PaymentError:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              description: error code if the payment fails
              type: string
              example: card_declined
            decline_code:
              description: decline code if the payment fails
              type: string
              example: do_not_retry
            message:
              description: text description of the error code
              type: string
              example: This card has been rejected. Please try a different card or payment method
            network:
              description: card network used for payment
              type:
              - string
              - 'null'
              example: MASTERCARD
            network_error_category:
              description: network error category code
              type:
              - string
              - 'null'
              example: '03'
            network_error_code:
              description: network error code
              type:
              - string
              - 'null'
              example: '504'
    CardPaymentMethod:
      type: object
      properties:
        card:
          $ref: '#/components/schemas/Card'
        customer_id:
          description: customer_id is a deprecated field. Please use our payment method groups instead.
          type:
          - string
          - 'null'
          example: cust_xyz
        signature:
          description: signature that uniquely identifies a credit card or bank account across payment methods
          type:
          - string
          - 'null'
          example: 4guAJNkVA3lRLVlanNVoBK
        account_id:
          description: account id associated with payment method
          type:
          - string
          - 'null'
          example: acc_123
    FeeResponse:
      type: object
      description: 'A fee object in API responses. The `fees` array is empty in the Create Payment response —

        subscribe to payment webhook events (recommended) to receive the full fee objects, or poll with a subsequent Get Payment request.

        '
      properties:
        id:
          type: string
          description: Unique identifier for this fee. Present when fetching a payment.
          example: pyfee_xyz
        type:
          type: string
          enum:
          - processing_fee
          - platform_fee
          - refund_processing_fee
          description: 'The type of fee:

            - `processing_fee`: Fees related to payment processing costs

            - `platform_fee`: Fees for your platform''s services

            - `refund_processing_fee`: A processing fee charged when a refund is processed. Currently applies to CAD payments only.

            '
          example: processing_fee
        amount:
          type: integer
          description: Fee amount in cents
          example: 350
        currency:
          type: string
          description: Currency of the fee amount. Present when fetching a payment.
          enum:
          - usd
          - cad
          example: usd
        remaining_amount:
          type: integer
          description: Amount still available for refund in cents. Updates after each partial refund. Present when fetching a payment.
          example: 350
        source_configuration_id:
          type:
          - string
          - 'null'
          description: The public ID of the Standard Fee Configuration used to calculate this fee. Null when the fee was explicitly provided in the payment request rather than auto-calculated.
          example: sfc_abc123
        source_fee_type:
          type:
          - string
          - 'null'
          description: 'The fee type from the Standard Fee Configuration that generated this fee (e.g., `processing_ecomm`, `amex_brand_ecomm`, `platform`).

            Null when the fee was explicitly provided in the payment request.

            '
          example: amex_brand_ecomm
        refund_id:
          type:
          - string
          - 'null'
          description: The public ID of the refund this fee is associated with. Populated for `refund_processing_fee` fees (currently CAD payments only); null for all other fees. Present when fetching a payment.
          example: re_xyz
      required:
      - type
      - amount
    TransactionHold:
      type: object
      properties:
        id:
          description: unique transaction hold id
          type: string
          example: th_123xyz
        financial_transaction_id:
          type: string
          description: financial transaction id the transaction hold is associated to
          format: uuid
          example: ft_123xyz
    PaymentBalanceTransaction:
      type: object
      properties:
        id:
          description: unique payment balance transaction id
          type: string
          format: uuid
          example: pbt_123xyz
        amount:
          description: payment balance transaction amount, in cents
          type: number
          example: 40145
        balance:
          description: balance amount of the payment balance transaction, in cents
          type: number
          example: 53550
        currency:
          type: string
          enum:
          - usd
          - cad
          example: usd
        financial_transaction_id:
          description: id of the financial transaction associated with the payment balance transaction
          type: string
          format: uuid
          example: ft_123xyz
        payment_id:
          description: id of the payment associated with the payment balance transaction
          type: string
          format: uuid
          example: py_123xyz
        payment_balance_txn_type:
          description: type of the transaction object associated with the payment balance transaction
          type: string
          enum:
          - payment
          - payment_fee
          - payout
          - refund
          - fee_refund
          - dispute
          - dispute_fee
          - dispute_fee_refund
          - dispute_refund
          example: fee_refund
        source_id:
          description: id of the source object associated with the payment balance transaction
          type: string
          format: uuid
          example: fee_123xyz
        source_type:
          description: type of the source object associated with the payment balance transaction
          type: string
          example: ApplicationFee
        created_at:
          type: string
          format: date-time
          example: '2021-01-01T12:00:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2021-01-01T12:00:00Z'
    Refund:
      type: object
      properties:
        id:
          description: refund unique id
          type: string
          example: re_xyz
        payment_id:
          description: the payment for which this refund is being issued
          type: string
          format: uuid
          example: py_xyz
        amount:
          description: the amount of this refund in cents
          type: number
          example: 100
        description:
          type: string
          description: an optional note about this refund
          example: customer canceled their order
        reason:
          description: the reason this refund is being issued
          type: string
          example: duplicate
          enum:
          - duplicate
          - fraudulent
          - customer_request
        status:
          description: the status of this refund
          type: string
          example: succeeded
          enum:
          - pending
          - succeeded
          - failed
        metadata:
          type: object
          format: json
          description: any useful information you'd like to store alongside this refund
          example: {}
        returned_fees:
          type: array
          description: 'Array of returned fee objects showing the fees returned to the merchant with this refund.

            Present when fees were specified in the refund request.

            See [Enhanced Fee Management](https://docs.justifi.tech/api-spec#section/Enhanced-Fee-Management) for full documentation.

            '
          items:
            $ref: '#/components/schemas/ReturnedFeeResponse'
          example:
          - id: rtfee_xyz
            payment_fee_id: pyfee_abc
            type: processing_fee
            returned_amount: 175
            original_amount: 350
            currency: usd
            remaining_amount: 175
        created_at:
          type: string
          format: date-time
          example: '2021-01-01T12:00:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2021-01-01T12:00:00Z'
    Envelope-list:
      type: object
      properties:
        id:
          description: the object id
          type: number
          example: 1
        type:
          description: the object type, or array of objects
          type: string
          example: account
        data:
          description: the list of objects
          type: array
        page_info:
          description: information for cursor style pagination
          $ref: '#/components/schemas/PageInfo'
    Card:
      type: object
      properties:
        id:
          description: unique card id
          type: string
          format: uuid
          example: pm_123xyz
        acct_last_four:
          description: last 4 digits of the card number
          type: string
          example: 4242
        brand:
          description: card brand or bank name
          example: Visa
        digital_wallet:
          description: which digital wallet provider the card is tied to
          type:
          - string
          - 'null'
          enum:
          - apple_pay
          - google_pay
          - null
          example: apple_pay
        name:
          description: card or account holder name
          type:
          - string
          - 'null'
          example: Amanda Kessel
        token:
          description: 'same value as unique card id; can be saved and used to process multiple

            payments with the same card

            '
          example: pm_123xyz
        month:
          description: expiration date month
          example: '5'
        year:
          description: expiration date year
          example: '2042'
        metadata:
          type:
          - object
          - 'null'
          format: json
          description: any useful information you'd like to store alongside this card
          example: {}
        created_at:
          type: string
          format: date-time
          example: '2021-01-01T12:00:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2021-01-01T12:00:00Z'
        address_line1_check:
          description: Result of the address line 1 verification check. `pass` — matches the cardholder's address on file; `fail` — does not match; `unavailable` — verification could not be performed; `unchecked` — no address was provided for verification.
          type: string
          example: unchecked
          enum:
          - fail
          - pass
          - unavailable
          - unchecked
        address_postal_code_check:
          description: Result of the postal code verification check. `pass` — matches the cardholder's postal code on file; `fail` — does not match; `unavailable` — verification could not be performed; `unchecked` — no postal code was provided for verification.
          type: string
          example: unchecked
          enum:
          - fail
          - pass
          - unavailable
          - unchecked
    ReturnedFeeResponse:
      type: object
      description: A returned fee object showing fee details returned to the merchant with a refund
      properties:
        id:
          type: string
          description: Unique identifier for this returned fee
          example: rtfee_xyz
        payment_fee_id:
          type: string
          description: Unique identifier for the original payment fee that was partially or fully returned
          example: pyfee_abc
        type:
          type: string
          enum:
          - processing_fee
          - platform_fee
          description: 'The type of fee that was returned:

            - `processing_fee`: Processing fee returned to merchant

            - `platform_fee`: Platform fee returned to merchant

            '
          example: processing_fee
        returned_amount:
          type: integer
          description: Amount returned to the merchant in cents
          example: 175
        original_amount:
          type: integer
          description: Original fee amount in cents from the payment
          example: 350
        currency:
          type: string
          description: Currency of the fee amounts
          example: usd
        remaining_amount:
          type: integer
          description: Amount still available for refund on the original payment fee in cents
          example: 175
      required:
      - id
      - payment_fee_id
      - type
      - returned_amount
      - original_amount
      - currency
      - remaining_amount
    BankAccount:
      type: object
      properties:
        id:
          description: unique bank account payment method id
          type: string
          format: uuid
          example: pm_123xyz
        account_owner_name:
          description: account owner name
          type: string
          example: Lindsay Whalen
        account_type:
          description: type of account (checking, savings, etc.)
          type: string
          example: checking
        bank_name:
          description: bank name
          type:
          - string
          - 'null'
          example: Wells Fargo
        acct_last_four:
          description: last 4 digits of the account number
          type: string
          example: 1111
        token:
          description: 'same value as unique bank account id; can be saved and used to process multiple

            payments with the same bank account

            '
          example: pm_123xyz
        metadata:
          type:
          - object
          - 'null'
          format: json
          description: any useful information you'd like to store alongside this bank account
          example:
            new: info
    PageInfo:
      type: object
      properties:
        end_cursor:
          description: the encoded id of the last record in the current list
          type: string
          example: WyIyMDIyLTAyLTA4IDE5OjUyOjM3LjEwNDE3MzAwMCIsIjY4MDliYTU5LTYxYjctNDg3MS05YWFiLWE2Y2MyNmY3M2M1ZCJd
        has_next:
          description: true if the collection contains records following the current list
          type: boolean
          default: false
        has_previous:
          description: true if the collection contains records ahead of the current list
          type: boolean
          default: false
        start_cursor:
          description: the encoded id of the first record in the current list
          type: string
          example: WyIyMDIyLTAyLTA4IDIwOjAxOjU4LjEyMDIzMjAwMCIsIjU5ZTFjNGI1LWFlOWQtNDIyZC04MTVkLWNjNzQ5NzdlYmFjYSJd
    CardPayment:
      type: object
      properties:
        id:
          description: unique payment id
          type: string
          example: py_xyz
        account_id:
          type: string
          format: uuid
          example: acc_xyz
        amount:
          description: payment amount in cents
          type: number
          example: 10000
        amount_disputed:
          description: sum of open or lost disputes for this payment, in cents
          type: number
          example: 0
        amount_refunded:
          description: sum of refunds for this payment, in cents
          type: number
          example: 0
        amount_refundable:
          description: amount of this payment currently able to be refunded, in cents
          type: number
          example: 10000
        balance:
          description: sum of debits and credits for this payment, in cents (reflects the amount this account has earned from this payment). Compiled and calculated value, eventually consistent. To see all changes affecting the payment's balance call [Get Balance Transactions](#operation/GetPaymentBalanceTransactions)
          type: number
          example: 99850
        fee_amount:
          type: number
          description: sum of fees for this payment
          example: 150
        financial_transaction_id:
          type: string
          description: associated financial transaction id
          example: ft_123xyz
        captured:
          description: whether or not this payment is captured
          type: boolean
          example: true
        capture_strategy:
          type: string
          example: automatic
          enum:
          - automatic
          - manual
        currency:
          type: string
          enum:
          - usd
          - cad
          example: usd
        description:
          type: string
          description: your meaningful description of the payment (e.g. an order number or other value from your system)
          example: my_order_xyz
        disputed:
          type: boolean
          description: whether or not this payment has any open or lost disputes
          example: false
        disputes:
          type: array
          description: list of associated disputes
          example: []
        error_code:
          type: string
          description: error code if the payment fails
          example: credit_card_number_invalid
        error_description:
          type: string
          description: text description of the error code
          example: Credit Card Number Invalid (Failed LUHN checksum)
        is_test:
          type: boolean
          description: whether or not this payment was made using the test account
          example: true
        metadata:
          type: object
          format: json
          description: any useful information you'd like to store alongside this payment
          example: {}
        payment_intent_id:
          type: string
          description: unique id of associated payment intent
          example: pi_123xyz
        checkout_id:
          type: string
          description: unique id of associated checkout
          example: cho_123xyz
        payment_method:
          $ref: '#/components/schemas/CardPaymentMethod'
        application_fee:
          $ref: '#/components/schemas/ApplicationFee'
        application_fee_rate_id:
          type: string
          description: unique id of application fee rate applied to this payment, if any
          example: afr_123xyz
        fees:
          type: array
          description: 'Array of fee objects showing the fees charged on this payment with their remaining refundable amounts.

            Populated whether the fees were provided via the `fees` array in the payment request or calculated automatically (for example, from a Standard Fee Configuration, or the `processing_fee` on a CAD payment).


            **Note:** This array is empty in the Create Payment response. Fees are processed asynchronously —

            subscribe to payment webhook events (recommended) to receive the full fee objects

            (with `id`, `remaining_amount`, and `currency`), or poll with a subsequent Get Payment request.


            See [Enhanced Fee Management](https://docs.justifi.tech/api-spec#section/Enhanced-Fee-Management) for full documentation.

            '
          items:
            $ref: '#/components/schemas/FeeResponse'
          example:
          - id: pyfee_abc
            type: processing_fee
            amount: 350
            currency: usd
            remaining_amount: 350
            source_configuration_id: sfc_abc123
            source_fee_type: processing_ecomm
            refund_id: null
          - id: pyfee_xyz
            type: platform_fee
            amount: 500
            currency: usd
            remaining_amount: 500
            source_configuration_id: sfc_abc123
            source_fee_type: platform
            refund_id: null
        refunded:
          type: boolean
          description: whether or not this payment has any refunds
          example: false
        status:
          type: string
          enum:
          - pending
          - authorized
          - canceled
          - succeeded
          - failed
          - partially_refunded
          - fully_refunded
          - disputed
          description: status of the payment
        payment_mode:
          type: string
          example: ecom
          enum:
          - ecom
          - ach
          - card_present
        terminal_id:
          type: string
          description: id of terminal used to process the card payment, if any
          example: trm_123xyz
        transaction_hold:
          allOf:
          - type: object
          - description: present when the payment has been flagged for review and held from payouts
          - $ref: '#/components/schemas/TransactionHold'
        expedited:
          type:
          - boolean
          - 'null'
          description: settlement priority of the payment, only applies to ACH payments
          example: null
        created_at:
          type: string
          format: date-time
          example: '2021-01-01T12:00:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2021-01-01T12:00:00Z'
    BankAccountPayment:
      type: object
      properties:
        id:
          description: unique payment id
          type: string
          example: py_xyz
        account_id:
          type: string
          format: uuid
          example: acc_xyz
        amount:
          description: payment amount in cents
          type: number
          example: 10000
        amount_disputed:
          description: sum of open or lost disputes for this payment, in cents
          type: number
          example: 0
        amount_refunded:
          description: sum of refunds for this payment, in cents
          type: number
          example: 0
        amount_refundable:
          description: amount of this payment currently able to be refunded, in cents
          type: number
          example: 10000
        balance:
          description: sum of debits and credits for this payment, in cents (reflects the amount this account has earned from this payment). Compiled and calculated value, eventually consistent. To see all changes affecting the payment's balance see [Get Balance Transactions](#operation/GetPaymentBalanceTransactions)
          type: number
          example: 99850
        fee_amount:
          type: number
          description: sum of fees for this payment
          example: 150
        financial_transaction_id:
          type: string
          description: associated financial transaction id
          example: ft_123xyz
        captured:
          description: whether or not this payment is captured
          type: boolean
          example: true
        capture_strategy:
          type: string
          example: automatic
          enum:
          - automatic
          - manual
        currency:
          type: string
          enum:
          - usd
          example: usd
        description:
          type: string
          description: your meaningful description of the payment (e.g. an order number or other value from your system)
          example: my_order_xyz
        disputed:
          type: boolean
          description: whether or not this payment has any open or lost disputes
          example: false
        disputes:
          type: array
          description: list of associated disputes
          example: []
        error_code:
          type: string
          description: error code if the payment fails
          example: credit_card_number_invalid
        error_description:
          type: string
          description: text description of the error code
          example: Credit Card Number Invalid (Failed LUHN checksum)
        is_test:
          type: boolean
          description: whether or not this payment was made using the test account
          example: true
        metadata:
          type: object
          format: json
          description: any useful information you'd like to store alongside this payment
          example: {}
        payment_intent_id:
          type: string
          description: unique id of associated payment intent
          example: pi_123xyz
        checkout_id:
          type: string
          description: unique id of associated checkout
          example: cho_123
        payment_method:
          $ref: '#/components/schemas/BankAccountPaymentMethod'
        application_fee:
          $ref: '#/components/schemas/ApplicationFee'
        application_fee_rate_id:
          type: string
          description: unique id of application fee rate applied to this payment, if any
          example: afr_123xyz
        fees:
          type: array
          description: 'Array of fee objects showing the fees charged on this payment with their remaining refundable amounts.

            Populated whether the fees were provided via the `fees` array in the payment request or calculated automatically (for example, from a Standard Fee Configuration).


            **Note:** This array is empty in the Create Payment response. Fees are processed asynchronously —

            subscribe to payment webhook events (recommended) to receive the full fee objects

            (with `id`, `remaining_amount`, and `currency`), or poll with a subsequent Get Payment request.


            See [Enhanced Fee Management](https://docs.justifi.tech/api-spec#section/Enhanced-Fee-Management) for full documentation.

            '
          items:
            $ref: '#/components/schemas/FeeResponse'
          example:
          - id: pyfee_abc
            type: processing_fee
            amount: 50
            currency: usd
            remaining_amount: 50
            source_configuration_id: sfc_abc123
            source_fee_type: processing_ecomm
            refund_id: null
          - id: pyfee_xyz
            type: platform_fee
            amount: 150
            currency: usd
            remaining_amount: 150
            source_configuration_id: sfc_abc123
            source_fee_type: platform
            refund_id: null
        refunded:
          type: boolean
          description: whether or not this payment has any refunds
          example: false
        status:
          type: string
          enum:
          - pending
          - authorized
          - canceled
          - succeeded
          - failed
          - partially_refunded
          - fully_refunded
          - disputed
          description: status of the payment
        payment_mode:
          type: string
          example: ecom
          enum:
          - ecom
          - ach
          - card_present
        terminal_id:
          type: string
          description: id of terminal used to process a card payment, null for bank account payments
          example: trm_123xyz
        transaction_hold:
          allOf:
          - type: object
          - description: present when the payment has been flagged for review and held from payouts
          - $ref: '#/components/schemas/TransactionHold'
        expedited:
          type:
          - boolean
          - 'null'
          description: settlement priority of the payment, only applies to ACH payments
          example: true
        created_at:
          type: string
          format: date-time
          example: '2021-01-01T12:00:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2021-01-01T12:00:00Z'
  parameters:
    id-path:
      in: path
      name: id
      schema:
        type: string
        format: uuid
      required: true
    payment-method-id:
      in: query
      name: payment_method_id
      schema:
        type: string
      required: false
      example: pm_123xyz
      description: 'filter records which are associated with a payment method.

        '
    sub-account:
      in: header
      name: Sub-Account
      schema:
        type: string
      required: false
      example: acc_123xyz
      description: 'the id of the [sub account](https://docs.justifi.tech/api-spec#tag/Sub-Accounts) that this request applies to

        '
    void-id:
      in: query
      name: void_id
      schema:
        type: string
      required: false
      example: vo_123xyz
      description: 'filter records which are associated with a void.

        '
    idempotency-key-header:
      in: header
      name: Idempotency-Key
      schema:
        type: string
        format: uuid
      required: true
      example: my-request-123abc
      description: a string to identify your request (we recommend using a generated uuid, but you may use any unique string) see [Idempotent Requests](https://docs.justifi.tech/api-spec#section/Idempotent-Requests)
    sub-account-required:
      in: header
      name: Sub-Account
      schema:
        type: string
      required: true
      example: acc_123xyz
      description: 'the id of the [sub account](https://docs.justifi.tech/api-spec#tag/Sub-Accounts) that this request applies to

        '
    created-before:
      in: query
      name: created_before
      schema:
        type: string
        format: date-time
      required: false
      example: '2022-01-01T00:00:00Z'
      description: 'filter records which were created before the date and time (UTC) specified. Dates without time specified will default to 00:00:00

        '
    authorization-header:
      in: header
      name: Authorization
      schema:
        type: string
      required: true
      example: Bearer {access_token}
      description: the `access_token` value returned from the JustiFi `oauth/token` endpoint (be sure to append `Bearer` before the token)
    created-after:
      in: query
      name: created_after
      schema:
        type: string
        format: date-time
      required: false
      example: '2022-01-01T00:00:00Z'
      description: 'filter records which were created after the date and time (UTC) specified. Dates without time specified will default to 00:00:00

        '
x-tagGroups:
- name: Authorization
  tags:
  - API Credentials
  - Web Component Tokens
- name: For Platforms
  tags:
  - Sub Accounts
  - Platform Wallet Accounts
  - Onboarding via Component
  - Hosted Onboarding
  - Onboarding via API
  - Fee Configurations
  - Proceeds
  - Reports
- name: Payment Resources
  tags:
  - Payments
  - Payment Methods
  - Tokenize via Component
  - Payment Method Groups
  - Refunds
  - Disputes
  - Payouts
  - Payout Holds
  - Balance Transactions
  - Ach Return Fees
  - Payment Method Migration
- name: Checkout Resources
  tags:
  - Checkouts
  - Checkout via Component
  - Checkout via API
- name: Insurance Resources
  tags:
  - Bind Insurance
- name: Entity Resources
  tags:
  - Business
  - Identity
  - Address
  - Document
  - Bank Account
  - Terms and Conditions
  - Provisioning
- name: Card Present Resources
  tags:
  - Terminals
  - Terminals Orders
- name: Libraries
  tags:
  - JustiFi Web Components
  - JustiFi SDK
- name: Event Publishing
  tags:
  - Events
  - Webhook Delivery
