openapi: 3.2.0
info:
  description: '## Introduction


    The JustiFi API is a REST-based payment processing API.'
  title: JustiFi API Documentation Bind Insurance API
  termsOfService: https://justifi.ai/terms-and-conditions
  x-logo:
    url: https://justifi-brand-assets.s3.us-east-2.amazonaws.com/justifi-light-bg.png
  contact:
    email: api-development@justifi.ai
servers:
- url: https://api.justifi.ai/v1
  description: JustiFi API
tags:
- name: Bind Insurance
paths:
  /insurance/bind:
    post:
      summary: Bind an Insurance Policy
      description: Used to bind an insurance policy with a JustiFi insurance partner
      operationId: BindInsurance
      tags:
      - Bind Insurance
      parameters:
      - $ref: '#/components/parameters/authorization-header'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                payment_method_id:
                  type: string
                  format: uuid
                  example: pm_123
                  description: Payment method to charge for insurance policy
                amount:
                  type: number
                  example: 10000
                  description: amount to charge in cents
                currency:
                  type: string
                  enum:
                  - usd
                  - cad
                  example: usd
                partner_quote_id:
                  type: string
                  example: ins-test-123
                  description: quote id provided by partner provider
                partner_name:
                  type: string
                  enum:
                  - vertical_insure
                  example: vertical_insure
                  description: partner insurance provider
                metadata:
                  type: object
                  format: json
                  description: any useful information you'd like to store alongside this record
                  example: {}
              required:
              - payment_method_id
              - amount
              - partner_quote_id
              - partner_name
      responses:
        '201':
          description: Insurance Policy was bound successfully
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope'
                - properties:
                    id:
                      example: ins_xyz
                    type:
                      example: insurance_policy
                    data:
                      $ref: '#/components/schemas/InsurancePolicy'
components:
  schemas:
    Envelope:
      type: object
      properties:
        id:
          description: the object id, also found in the data object
          type: string
          format: uuid
          example: prefix_xyz (same as id of data object)
        type:
          description: the object type, or array of objects
          type: string
          example: account
        data:
          description: the attributes for the object
          type: object
        page_info:
          description: information for cursor style pagination, is null for single records
          type: null
    InsurancePolicy:
      type: object
      properties:
        id:
          description: unique record id
          type: string
          example: ins_xyz
        account_id:
          type: string
          format: uuid
          example: acc_xyz
        amount:
          description: the amount charged in cents
          type: number
          example: 10000
        currency:
          type: string
          enum:
          - usd
          - cad
          example: usd
        partner_name:
          type: string
          description: partner insurance provider name
          example: vertical_insure
        partner_quote_id:
          type: string
          description: quote id provided by partner provider
          example: test-123
        metadata:
          type: object
          format: json
          description: any useful information you'd like to store alongside this payment intent
          example: {}
        status:
          type: string
          enum:
          - created
          - bound
          description: status of the payment intent
        created_at:
          type: string
          format: date-time
          example: '2021-01-01T12:00:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2021-01-01T12:00:00Z'
  parameters:
    authorization-header:
      in: header
      name: Authorization
      schema:
        type: string
      required: true
      example: Bearer {access_token}
      description: the `access_token` value returned from the JustiFi `oauth/token` endpoint (be sure to append `Bearer` before the token)
x-tagGroups:
- name: Authorization
  tags:
  - API Credentials
  - Web Component Tokens
- name: For Platforms
  tags:
  - Sub Accounts
  - Platform Wallet Accounts
  - Onboarding via Component
  - Hosted Onboarding
  - Onboarding via API
  - Fee Configurations
  - Proceeds
  - Reports
- name: Payment Resources
  tags:
  - Payments
  - Payment Methods
  - Tokenize via Component
  - Payment Method Groups
  - Refunds
  - Disputes
  - Payouts
  - Payout Holds
  - Balance Transactions
  - Ach Return Fees
  - Payment Method Migration
- name: Checkout Resources
  tags:
  - Checkouts
  - Checkout via Component
  - Checkout via API
- name: Insurance Resources
  tags:
  - Bind Insurance
- name: Entity Resources
  tags:
  - Business
  - Identity
  - Address
  - Document
  - Bank Account
  - Terms and Conditions
  - Provisioning
- name: Card Present Resources
  tags:
  - Terminals
  - Terminals Orders
- name: Libraries
  tags:
  - JustiFi Web Components
  - JustiFi SDK
- name: Event Publishing
  tags:
  - Events
  - Webhook Delivery
