openapi: 3.2.0
info:
  description: '## Introduction


    The JustiFi API is a REST-based payment processing API.'
  title: JustiFi API Documentation Business API
  termsOfService: https://justifi.ai/terms-and-conditions
  x-logo:
    url: https://justifi-brand-assets.s3.us-east-2.amazonaws.com/justifi-light-bg.png
  contact:
    email: api-development@justifi.ai
servers:
- url: https://api.justifi.ai/v1
  description: JustiFi API
tags:
- name: Business
  description: Creating a business entity is an essential step in integrating your business operations with JustiFi.
paths:
  /entities/business:
    post:
      summary: Create a Business
      operationId: CreateBusiness
      tags:
      - Business
      parameters:
      - $ref: '#/components/parameters/authorization-header'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                legal_name:
                  type: string
                  example: Business Name
                  description: legal business entity name
                website_url:
                  type: string
                  example: https://justifi.ai
                  description: website for this business (if they don't have a website, can send their social media business page, app store link, or a product description instead)
                email:
                  type: string
                  example: business@justifi.ai
                  description: email address of business entity or representative
                phone:
                  type: string
                  example: '6124011111'
                  description: business phone number
                doing_business_as:
                  type: string
                  example: Best Business
                  description: only needed if registered with DBA/Trade Name on SS-4 tax document
                business_type:
                  type: string
                  enum:
                  - for_profit
                  - non_profit
                  - government_entity
                  - individual
                  description: (deprecated) use classification instead - see [classification mapping table](https://docs.justifi.tech/api-spec#tag/Business)
                business_structure:
                  type: string
                  enum:
                  - sole_proprietorship
                  - single_llc
                  - multi_llc
                  - private_partnership
                  - private_corporation
                  - unincorporated_association
                  - public_partnership
                  - public_corporation
                  - incorporated
                  - unincorporated
                  - government_unit
                  - government_instrumentality
                  - tax_exempt_government_instrumentality
                  description: (deprecated) use classification instead - see [classification mapping table](https://docs.justifi.tech/api-spec#tag/Business)
                classification:
                  type: string
                  enum:
                  - government
                  - limited
                  - non_profit
                  - partnership
                  - corporation
                  - public_company
                  - sole_proprietor
                  description: simplified classification, use instead of business_type and business_structure - see [classification mapping table](https://docs.justifi.tech/api-spec#tag/Business)
                industry:
                  type: string
                  example: Big Business
                  description: to help us identify this business entity's category code (MCC), please provide a concise description of what service they offer
                mcc:
                  type: string
                  example: '8021'
                  description: merchant category code for this business, if known. Please note, the JustiFi underwriting team may modify this. If you are unsure, just submit a description in the industry field instead of an MCC
                tax_id:
                  type: string
                  description: the federal tax identification number/EIN issued to this sub account by the IRS (for Individual type, this will be their full SSN), the value is saved but not returned in any API response
                date_of_incorporation:
                  type: string
                  example: '2015-02-20'
                  description: the specific day when this business was officially registered with a relevant government authority and was then permitted to carry out its activities
                country_of_establishment:
                  type: string
                  enum:
                  - USA
                  - CAN
                  example: USA
                  description: country where the business was established. Defaults to "USA" if not provided (_cannot be changed after creation_)
                metadata:
                  type: object
                  description: any useful information you'd like to store alongside this business
                  additionalProperties: true
                  example:
                    arr: 1200
                    social_network: '@business'
                additional_questions:
                  additionalProperties: true
                  $ref: '#/components/schemas/AdditionalQuestions'
                legal_address:
                  oneOf:
                  - $ref: '#/components/schemas/Address'
                  - type: object
                    properties:
                      id:
                        type: string
                        example: addr_xyz
                representative:
                  oneOf:
                  - $ref: '#/components/schemas/Identity'
                  - type: object
                    properties:
                      id:
                        type: string
                        example: idty_xyz
                owners:
                  type: array
                  description: up to four business owners total
                  items:
                    oneOf:
                    - $ref: '#/components/schemas/Identity'
                    - type: object
                      properties:
                        id:
                          type: string
                          example: idty_xyz
      responses:
        '201':
          description: Business entity was created successfully
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope'
                - properties:
                    type:
                      example: business
                    data:
                      $ref: '#/components/schemas/BusinessResponse'
    get:
      summary: List Businesses
      description: List businesses for your platform. This endpoint supports pagination.
      operationId: ListBusinesses
      tags:
      - Business
      parameters:
      - $ref: '#/components/parameters/authorization-header'
      - in: query
        name: business_name
        schema:
          type: string
        required: false
        example: '"Company Name"'
        description: filter businesses by name
      responses:
        '200':
          description: Successfully list businesses
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope-list'
                - properties:
                    type:
                      example: array
                    data:
                      items:
                        $ref: '#/components/schemas/BusinessResponse'
  /entities/business/{id}:
    patch:
      summary: Update a Business
      description: Update information about a Business
      operationId: UpdateBusiness
      tags:
      - Business
      parameters:
      - $ref: '#/components/parameters/id-path'
      - $ref: '#/components/parameters/authorization-header'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                archived:
                  type: boolean
                  example: true
                  description: set to true to archive this business; only test mode businesses can be archived, attempting to archive a live mode business will return an error
                legal_name:
                  type: string
                  example: Business Name
                  description: legal business entity name
                website_url:
                  type: string
                  example: https://justifi.ai
                  description: website for this business (if they don't have a website, can send their social media business page, app store link, or a product description instead)
                email:
                  type: string
                  example: business@justifi.ai
                  description: email address of business entity or representative
                phone:
                  type: string
                  example: '6124011111'
                  description: business phone number
                doing_business_as:
                  type: string
                  example: Best Business
                  description: only needed if registered with DBA/Trade Name on SS-4 tax document
                business_type:
                  type: string
                  enum:
                  - for_profit
                  - non_profit
                  - government_entity
                  - individual
                business_structure:
                  type: string
                  enum:
                  - sole_proprietorship
                  - single_llc
                  - multi_llc
                  - private_partnership
                  - private_corporation
                  - unincorporated_association
                  - public_partnership
                  - public_corporation
                  - incorporated
                  - unincorporated
                  - government_unit
                  - government_instrumentality
                  - tax_exempt_government_instrumentality
                industry:
                  type: string
                  example: Big Business
                  description: to help us identify this business entity's category code (MCC), please provide a concise description of what service they offer
                mcc:
                  type: string
                  example: '8021'
                  description: merchant category code for this business, if known. Please note, the JustiFi underwriting team may modify this. If you are unsure, just submit a description in the industry field instead of an MCC
                tax_id:
                  type: string
                  description: the federal tax identification number/EIN issued to this sub account by the IRS (for Individual type, this will be their full SSN), the value is saved but not returned in any API response
                date_of_incorporation:
                  type: string
                  example: '2015-02-20'
                  description: the specific day when this business was officially registered with a relevant government authority and was then permitted to carry out its activities
                metadata:
                  type: object
                  description: any useful information you'd like to store alongside this business
                  additionalProperties: true
                  example:
                    arr: 1200
                    social_network: '@business'
                additional_questions:
                  additionalProperties: true
                  $ref: '#/components/schemas/AdditionalQuestions'
                legal_address:
                  oneOf:
                  - $ref: '#/components/schemas/Address'
                  - type: object
                    properties:
                      id:
                        type: string
                        example: addr_xyz
                representative:
                  oneOf:
                  - $ref: '#/components/schemas/Identity'
                  - type: object
                    properties:
                      id:
                        type: string
                        example: idty_xyz
      responses:
        '200':
          description: Successfully update a business
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope'
                - properties:
                    type:
                      example: business
                    data:
                      $ref: '#/components/schemas/BusinessResponse'
    get:
      summary: Get a Business
      description: Get information about a Business
      operationId: GetBusiness
      tags:
      - Business
      parameters:
      - $ref: '#/components/parameters/id-path'
      - $ref: '#/components/parameters/authorization-header'
      responses:
        '200':
          description: Successfully get a business
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope'
                - properties:
                    type:
                      example: business
                    data:
                      $ref: '#/components/schemas/BusinessResponse'
components:
  schemas:
    Envelope:
      type: object
      properties:
        id:
          description: the object id, also found in the data object
          type: string
          format: uuid
          example: prefix_xyz (same as id of data object)
        type:
          description: the object type, or array of objects
          type: string
          example: account
        data:
          description: the attributes for the object
          type: object
        page_info:
          description: information for cursor style pagination, is null for single records
          type: null
    Identity:
      type: object
      properties:
        name:
          type: string
          example: Person Name
          description: legal name
        title:
          type: string
          example: President
          description: job title
        email:
          type: string
          example: person.name@justifi.ai
          description: email address
        phone:
          type: string
          example: '6124011111'
          description: phone number
        dob_day:
          type: string
          example: '01'
          description: two-digit birth day
        dob_month:
          type: string
          example: '01'
          description: two-digit birth month
        dob_year:
          type: string
          example: '1980'
          description: four-digit birth year (must be at least 18 years old)
        identification_number:
          type: string
          example: '123456789'
          description: full social security number
        is_owner:
          type: boolean
          description: if an identity owns 25% or more of the business, they are considered an owner
        ownership_percentage:
          type: integer
          minimum: 0
          maximum: 100
          example: 25
          description: percentage of the business owned by this identity (0–100); only returned when the identity owns a business (proprietor_id set), not based on the is_owner column. Only owners with at least 25% ownership should be included.
        metadata:
          type: object
          format: json
          description: any useful information you'd like to store alongside this identity
          additionalProperties: true
          example:
            language: english
            social_network: '@person'
        address:
          oneOf:
          - $ref: '#/components/schemas/Address'
          - type: object
            properties:
              id:
                type: string
    AddressResponse:
      type: object
      properties:
        id:
          description: unique address id
          type: string
          example: addr_123xyz
        line1:
          type: string
          example: 123 Example St
        line2:
          type: string
          example: Suite 101
        city:
          type: string
          example: Minneapolis
        state:
          type: string
          example: MN
        postal_code:
          type: string
          example: '55555'
        country:
          type: string
          example: USA
        created_at:
          type: string
          format: date-time
          example: '2021-01-01T12:00:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2021-01-01T12:00:00Z'
    BusinessResponse:
      type: object
      properties:
        id:
          description: unique business id
          type: string
          example: biz_xyz
        platform_account_id:
          type: string
          format: uuid
          example: acc_xyz
        archived:
          type: boolean
          example: false
          description: indicates whether this business has been archived; only test mode businesses can be archived
        legal_name:
          type: string
          example: Business Name
          description: legal business entity name
        website_url:
          type: string
          example: https://justifi.ai
          description: website for this business (if they don't have a website, can send their social media business page, app store link, or a product description instead)
        email:
          type: string
          example: business@justifi.ai
          description: email address of business entity or representative
        phone:
          type: string
          example: '6124011111'
          description: business phone number
        doing_business_as:
          type: string
          example: Best Business
          description: only needed if registered with DBA/Trade Name on SS-4 tax document
        business_type:
          type: string
          enum:
          - for_profit
          - non_profit
          - government_entity
          - individual
        business_structure:
          type: string
          enum:
          - sole_proprietorship
          - single_llc
          - multi_llc
          - private_partnership
          - private_corporation
          - unincorporated_association
          - public_partnership
          - public_corporation
          - incorporated
          - unincorporated
          - government_unit
          - government_instrumentality
          - tax_exempt_government_instrumentality
        classification:
          type: string
          enum:
          - government
          - limited
          - non_profit
          - partnership
          - corporation
          - public_company
          - sole_proprietor
        industry:
          type: string
          example: Big Business
          description: to help us identify this business entity's category code (MCC), please provide a concise description of what service they offer
        mcc:
          type: string
          example: '8021'
          description: merchant category code for this business, if known. Please note, the JustiFi underwriting team may modify this. If you are unsure, just submit a description in the industry field instead of an MCC
        tax_id:
          type: string
          description: the federal tax identification number/EIN issued to this sub account by the IRS (for Individual type, this will be their full SSN), the value is not returned in any API response
        tax_id_last4:
          type: string
          description: last 4 digits of the federal tax identification number/EIN issued to this sub account by the IRS (for Individual type, this will be the last 4 digits of their SSN)
        date_of_incorporation:
          type: string
          example: '2015-02-20'
        country_of_establishment:
          type: string
          enum:
          - USA
          - CAN
          example: USA
          description: country where the business was established
        terms_conditions_accepted:
          type: boolean
          example: false
          description: returns true if terms and conditions were accepted
        metadata:
          type: object
          format: json
          description: any useful information you'd like to store alongside this business
        associated_accounts:
          type: array of objects
          descriptin: the id of the sub account associated with the business, is populated once the business has been provisioned
          example:
          - id: acc_123xyx
        legal_address:
          $ref: '#/components/schemas/AddressResponse'
        representative:
          $ref: '#/components/schemas/IdentityResponse'
        owners:
          type: array
          items:
            $ref: '#/components/schemas/IdentityResponse'
        documents:
          type: array
          items:
            $ref: '#/components/schemas/Document'
        bank_accounts:
          type: array
          items:
            $ref: '#/components/schemas/EntityBankAccount'
        additional_questions:
          $ref: '#/components/schemas/AdditionalQuestions'
        created_at:
          type: string
          format: date-time
          example: '2021-01-01T12:00:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2021-01-01T12:00:00Z'
    AdditionalQuestions:
      type: object
      properties:
        business_revenue:
          type: string
          example: '84220'
          description: amount of money the company receives from its primary business activities
        business_payment_volume:
          type: string
          example: '1000000'
          description: annual credit card & ACH volume anticipated to process with Justifi
        business_when_service_received:
          type: string
          example: Within 7 days
          description: how long after paying will your customers typically receive their goods or services
        business_recurring_payments:
          type: string
          example: 'true'
          description: business offer recurring payments
        business_recurring_payments_percentage:
          type: string
          example: 50% monthly, 50% annual
          description: percentage of revenue is generated from each recurring payment type offered
        business_seasonal:
          type: string
          example: No. The business revenue is generated evenly throughout the year
          description: is the business seasonal
        business_other_payment_details:
          type: string
          example: 50% of revenue is taken 90 days in advance of service and 50% of revenue is taken 30 days in advance of service
          description: anything else you would like us to know about how your customers pay the business
        business_purchase_order_volume:
          type: string
          example: '150'
          description: total number of purchase orders made by a business
        business_invoice_volume:
          type: string
          example: '500'
          description: total number of invoices generated by a business
        business_fund_use_intent:
          type: string
          example: expanding marketing efforts
          description: planned purpose for which a business intends to use funds
        equipment_invoice:
          type: string
          example: $10,000 invoice for computer equipment
          description: document specifying the cost and details of equipment purchased
        business_invoice_number:
          type: string
          example: 202105-001
          description: unique identifier assigned to a specific invoice issued by a business
        business_invoice_amount:
          type: string
          example: $4500
          description: total monetary value stated on an invoice issued by a business
        business_purchase_order_number:
          type: string
          example: '120'
          description: number of unique purchase orders made by a business
        industry_code:
          type: string
          example: '541512'
          description: numerical or alphanumeric code that classifies businesses according to their industry
        duns_number:
          type: string
          example: '123456789'
          description: unique nine-digit identification number assigned to a business entity
        business_payment_decline_volume:
          type: string
          example: '500'
          description: total number of payment declines experienced by a business
        business_refund_volume:
          type: string
          example: '100'
          description: total number of refunds issued by a business
        business_dispute_volume:
          type: string
          example: '50'
          description: total number of disputes raised by customers against a business
        business_receivable_volume:
          type: string
          example: US $100,000
          description: total value of outstanding payments owed to a business
        business_future_scheduled_payment_volume:
          type: string
          example: '200'
          description: total number of future scheduled payments for a business
        business_dispute_win_rate:
          type: string
          example: 75%
          description: percentage of business disputes won out of the total number of disputes
        length_of_business_relationship:
          type: string
          example: 5 years
          description: duration of a business relationship between two parties
    IdentityResponse:
      type: object
      properties:
        id:
          description: unique identity id
          type: string
          example: idty_xyz
        platform_account_id:
          type: string
          format: uuid
          example: acc_xyz
        business_id:
          type: string
          format: uuid
          example: biz_xyz
          description: associated business
        name:
          type: string
          example: Person Name
          description: legal name
        title:
          type: string
          example: President
          description: job title
        email:
          type: string
          example: person.name@justifi.ai
          description: email address
        phone:
          type: string
          example: '6124011111'
          description: phone number
        dob_day:
          type: string
          example: '01'
          description: two-digit birth day
        dob_month:
          type: string
          example: '01'
          description: two-digit birth month
        dob_year:
          type: string
          example: '1980'
          description: four-digit birth year (must be at least 18 years old)
        ssn_last4:
          type: string
          example: '6789'
          description: last four digits of social security number (computed from identification_number)
        is_owner:
          type: boolean
          example: true
          description: if an identity owns 25% or more of the business, they are considered an owner
        ownership_percentage:
          type: integer
          minimum: 0
          maximum: 100
          example: 25
          description: percentage of the business owned by this identity (0–100); only returned when is_owner is true
        metadata:
          type: object
          format: json
          description: any useful information you'd like to store alongside this identity
        address:
          $ref: '#/components/schemas/AddressResponse'
        documents:
          type: array
          items:
            $ref: '#/components/schemas/Document'
        created_at:
          type: string
          format: date-time
          example: '2021-01-01T12:00:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2021-01-01T12:00:00Z'
    Address:
      type: object
      properties:
        line1:
          type: string
          example: 123 Example St
        line2:
          type: string
          example: Suite 101
        city:
          type: string
          example: Minneapolis
        state:
          type: string
          example: MN
        postal_code:
          type: string
          example: '55555'
        country:
          type: string
          example: USA
    Envelope-list:
      type: object
      properties:
        id:
          description: the object id
          type: number
          example: 1
        type:
          description: the object type, or array of objects
          type: string
          example: account
        data:
          description: the list of objects
          type: array
        page_info:
          description: information for cursor style pagination
          $ref: '#/components/schemas/PageInfo'
    PageInfo:
      type: object
      properties:
        end_cursor:
          description: the encoded id of the last record in the current list
          type: string
          example: WyIyMDIyLTAyLTA4IDE5OjUyOjM3LjEwNDE3MzAwMCIsIjY4MDliYTU5LTYxYjctNDg3MS05YWFiLWE2Y2MyNmY3M2M1ZCJd
        has_next:
          description: true if the collection contains records following the current list
          type: boolean
          default: false
        has_previous:
          description: true if the collection contains records ahead of the current list
          type: boolean
          default: false
        start_cursor:
          description: the encoded id of the first record in the current list
          type: string
          example: WyIyMDIyLTAyLTA4IDIwOjAxOjU4LjEyMDIzMjAwMCIsIjU5ZTFjNGI1LWFlOWQtNDIyZC04MTVkLWNjNzQ5NzdlYmFjYSJd
    EntityBankAccount:
      type: object
      properties:
        id:
          description: unique bank account id
          type: string
          format: uuid
          example: ba_123xyz
        account_owner_name:
          description: name of the account owner
          type: string
          example: Napheesa Collier
        account_type:
          description: type of the account
          type: string
          enum:
          - checking
          - savings
          example: checking
        acct_last_four:
          description: last 4 digits of the account number
          type: string
          example: '6789'
        routing_number:
          description: routing number for account
          type: string
          example: '110000000'
        bank_name:
          description: name of the bank
          type: string
          example: Wells Fargo
        country:
          description: country for the bank account
          type: string
          enum:
          - US
          - CA
        currency:
          description: currency for the bank account
          type: string
          enum:
          - usd
          - cad
        nickname:
          description: nickname for the bank account
          type: string
          example: Phee's money
        metadata:
          type: object
          format: json
          description: any useful information you'd like to store alongside this bank account
          example: {}
        business_id:
          type: string
          format: uuid
          example: biz_123abc
        platform_account_id:
          type: string
          format: uuid
          example: acc_123abc
        created_at:
          type: string
          format: date-time
          example: '2021-01-01T12:00:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2021-01-01T12:00:00Z'
    Document:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: doc_abc123
        description:
          type: string
          example: My Document
          description: description of the document, used for your reference
        file_name:
          type: string
          example: my_document
          description: file name of the document
        file_type:
          type: string
          example: pdf
          description: the file media type/extension of the file you are uploading. For example, text/plain, application/pdf, image/png
        document_type:
          type: string
          enum:
          - articles_of_incorporation
          - balance_sheet
          - bank_statement
          - birth_certificate
          - business_registration
          - citizenship_card
          - driver_license
          - foreign_passport
          - government_id
          - nexus_card
          - passport
          - profit_and_loss_statement
          - resident_card
          - sin_card
          - ssn_card
          - status_card
          - tax_return
          - voided_check
          - other
          example: balance_sheet
        business_id:
          type: string
          format: uuid
          example: biz_abc123
          description: the business id to associate with this document (one of business id or identity id is required)
        identity_id:
          type: string
          format: uuid
          example: idty_abc123
          description: the identity id to associate with this document (one of business id or identity id is required)
        presigned_url:
          type: string
          format: url
          description: url used to PUT or GET the document to our cloud provider. This is not returned via the list API
          example: https://test.test/doc_abc123/file_name.pdf
        metadata:
          type: object
          format: json
          description: any useful information you'd like to store alongside this document
          additionalProperties: true
          example:
            language: english
            social_network: '@person'
        status:
          type: string
          enum:
          - pending uploaded canceled
        created_at:
          type: string
          format: date-time
          example: '2021-01-01T12:00:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2021-01-01T12:00:00Z'
  parameters:
    id-path:
      in: path
      name: id
      schema:
        type: string
        format: uuid
      required: true
    authorization-header:
      in: header
      name: Authorization
      schema:
        type: string
      required: true
      example: Bearer {access_token}
      description: the `access_token` value returned from the JustiFi `oauth/token` endpoint (be sure to append `Bearer` before the token)
x-tagGroups:
- name: Authorization
  tags:
  - API Credentials
  - Web Component Tokens
- name: For Platforms
  tags:
  - Sub Accounts
  - Platform Wallet Accounts
  - Onboarding via Component
  - Hosted Onboarding
  - Onboarding via API
  - Fee Configurations
  - Proceeds
  - Reports
- name: Payment Resources
  tags:
  - Payments
  - Payment Methods
  - Tokenize via Component
  - Payment Method Groups
  - Refunds
  - Disputes
  - Payouts
  - Payout Holds
  - Balance Transactions
  - Ach Return Fees
  - Payment Method Migration
- name: Checkout Resources
  tags:
  - Checkouts
  - Checkout via Component
  - Checkout via API
- name: Insurance Resources
  tags:
  - Bind Insurance
- name: Entity Resources
  tags:
  - Business
  - Identity
  - Address
  - Document
  - Bank Account
  - Terms and Conditions
  - Provisioning
- name: Card Present Resources
  tags:
  - Terminals
  - Terminals Orders
- name: Libraries
  tags:
  - JustiFi Web Components
  - JustiFi SDK
- name: Event Publishing
  tags:
  - Events
  - Webhook Delivery
