openapi: 3.2.0
info:
  description: '## Introduction


    The JustiFi API is a REST-based payment processing API.'
  title: JustiFi API Documentation Web Component Tokens API
  termsOfService: https://justifi.ai/terms-and-conditions
  x-logo:
    url: https://justifi-brand-assets.s3.us-east-2.amazonaws.com/justifi-light-bg.png
  contact:
    email: api-development@justifi.ai
servers:
- url: https://api.justifi.ai/v1
  description: JustiFi API
tags:
- name: Web Component Tokens
paths:
  /web_component_tokens:
    post:
      summary: Generate A Token
      description: 'The web component token provides permission to render a web component on your frontend.

        To get a web component token post your access token in the header and the `business_id` or `account_id` as part of the `resources` array in the body.

        For a list of resources needed for each web component please refer to Roles need for each component.

        The token will be valid for 60 minutes.'
      operationId: CreateWebComponentToken
      tags:
      - Web Component Tokens
      parameters:
      - $ref: '#/components/parameters/authorization-header'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                resources:
                  type: array
                  description: Build an array of concatenated role (read/write), resource (account/business) and resource id which you need the web component to access. For example ["write:business:biz_123"]
                  items:
                    type: string
            example:
              resources:
              - write:business:biz_abc
              - write:account:account_123
      responses:
        '200':
          description: A web component token has been created
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    description: 'Use this field in the `auth-token` parameter of the web component you would like to render

                      '
                    type: string
                  expires_in:
                    description: 'The amount of seconds until the token expires

                      '
                    type: number
                  token_type:
                    description: 'Type of token, this will always return Bearer

                      '
                    type: string
components:
  parameters:
    authorization-header:
      in: header
      name: Authorization
      schema:
        type: string
      required: true
      example: Bearer {access_token}
      description: the `access_token` value returned from the JustiFi `oauth/token` endpoint (be sure to append `Bearer` before the token)
x-tagGroups:
- name: Authorization
  tags:
  - API Credentials
  - Web Component Tokens
- name: For Platforms
  tags:
  - Sub Accounts
  - Platform Wallet Accounts
  - Onboarding via Component
  - Hosted Onboarding
  - Onboarding via API
  - Fee Configurations
  - Proceeds
  - Reports
- name: Payment Resources
  tags:
  - Payments
  - Payment Methods
  - Tokenize via Component
  - Payment Method Groups
  - Refunds
  - Disputes
  - Payouts
  - Payout Holds
  - Balance Transactions
  - Ach Return Fees
  - Payment Method Migration
- name: Checkout Resources
  tags:
  - Checkouts
  - Checkout via Component
  - Checkout via API
- name: Insurance Resources
  tags:
  - Bind Insurance
- name: Entity Resources
  tags:
  - Business
  - Identity
  - Address
  - Document
  - Bank Account
  - Terms and Conditions
  - Provisioning
- name: Card Present Resources
  tags:
  - Terminals
  - Terminals Orders
- name: Libraries
  tags:
  - JustiFi Web Components
  - JustiFi SDK
- name: Event Publishing
  tags:
  - Events
  - Webhook Delivery
