openapi: 3.2.0
info:
  description: '## Introduction


    The JustiFi API is a REST-based payment processing API.'
  title: JustiFi API Documentation Bank Account API
  termsOfService: https://justifi.ai/terms-and-conditions
  x-logo:
    url: https://justifi-brand-assets.s3.us-east-2.amazonaws.com/justifi-light-bg.png
  contact:
    email: api-development@justifi.ai
servers:
- url: https://api.justifi.ai/v1
  description: JustiFi API
tags:
- name: Bank Account
  description: Create/manage bank accounts for your businesses. These accounts are used for paying out earnings for usage of various products, for example card processing.
paths:
  /entities/bank_accounts:
    post:
      summary: Create a Bank Account
      description: Create a bank account
      operationId: CreateBankAccount
      tags:
      - Bank Account
      parameters:
      - $ref: '#/components/parameters/authorization-header'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                account_owner_name:
                  type: string
                  description: name of the account owner
                  example: Napheesa Collier
                account_type:
                  type: string
                  description: type of account
                  enum:
                  - checking
                  - savings
                  example: checking
                account_number:
                  type: string
                  description: the account number
                  example: 000123456789
                routing_number:
                  type: string
                  description: routing number
                  example: '110000000'
                business_id:
                  type: string
                  description: business id which owns the account
                  format: uuid
                  example: biz_abc123
                bank_name:
                  type: string
                  description: bank name
                  example: Wells Fargo
                nickname:
                  type: string
                  description: nickname for the bank account
                  example: Phee's Money
                metadata:
                  type: object
                  description: any useful information you'd like to store alongside this bank account
                  example:
                    my_id: '123'
              required:
              - account_owner_name
              - account_type
              - account_number
              - routing_number
              - business_id
              - bank_name
      responses:
        '201':
          description: Bank Account was created successfully
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope'
                - properties:
                    type:
                      example: bank_account
                    data:
                      $ref: '#/components/schemas/EntityBankAccount'
    get:
      summary: List Bank Accounts
      description: List the bank accounts you have created for a business. This endpoint supports pagination.
      operationId: ListBankAccounts
      tags:
      - Bank Account
      parameters:
      - $ref: '#/components/parameters/authorization-header'
      - in: query
        name: business_id
        schema:
          type: string
        required: false
        example: biz_xyz
        description: filter bank accounts which are associated with a business
      responses:
        '200':
          description: Successfully list bank accounts
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope-list'
                - properties:
                    type:
                      example: array
                    data:
                      items:
                        $ref: '#/components/schemas/EntityBankAccount'
  /entities/bank_accounts/{id}:
    get:
      summary: Get a Bank Account
      description: Get details about a bank account
      operationId: GetBankAccount
      tags:
      - Bank Account
      parameters:
      - $ref: '#/components/parameters/id-path'
      - $ref: '#/components/parameters/authorization-header'
      responses:
        '200':
          description: Get Bank Account
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope'
                - properties:
                    type:
                      example: bank_account
                    data:
                      $ref: '#/components/schemas/EntityBankAccount'
components:
  schemas:
    Envelope:
      type: object
      properties:
        id:
          description: the object id, also found in the data object
          type: string
          format: uuid
          example: prefix_xyz (same as id of data object)
        type:
          description: the object type, or array of objects
          type: string
          example: account
        data:
          description: the attributes for the object
          type: object
        page_info:
          description: information for cursor style pagination, is null for single records
          type: null
    Envelope-list:
      type: object
      properties:
        id:
          description: the object id
          type: number
          example: 1
        type:
          description: the object type, or array of objects
          type: string
          example: account
        data:
          description: the list of objects
          type: array
        page_info:
          description: information for cursor style pagination
          $ref: '#/components/schemas/PageInfo'
    PageInfo:
      type: object
      properties:
        end_cursor:
          description: the encoded id of the last record in the current list
          type: string
          example: WyIyMDIyLTAyLTA4IDE5OjUyOjM3LjEwNDE3MzAwMCIsIjY4MDliYTU5LTYxYjctNDg3MS05YWFiLWE2Y2MyNmY3M2M1ZCJd
        has_next:
          description: true if the collection contains records following the current list
          type: boolean
          default: false
        has_previous:
          description: true if the collection contains records ahead of the current list
          type: boolean
          default: false
        start_cursor:
          description: the encoded id of the first record in the current list
          type: string
          example: WyIyMDIyLTAyLTA4IDIwOjAxOjU4LjEyMDIzMjAwMCIsIjU5ZTFjNGI1LWFlOWQtNDIyZC04MTVkLWNjNzQ5NzdlYmFjYSJd
    EntityBankAccount:
      type: object
      properties:
        id:
          description: unique bank account id
          type: string
          format: uuid
          example: ba_123xyz
        account_owner_name:
          description: name of the account owner
          type: string
          example: Napheesa Collier
        account_type:
          description: type of the account
          type: string
          enum:
          - checking
          - savings
          example: checking
        acct_last_four:
          description: last 4 digits of the account number
          type: string
          example: '6789'
        routing_number:
          description: routing number for account
          type: string
          example: '110000000'
        bank_name:
          description: name of the bank
          type: string
          example: Wells Fargo
        country:
          description: country for the bank account
          type: string
          enum:
          - US
          - CA
        currency:
          description: currency for the bank account
          type: string
          enum:
          - usd
          - cad
        nickname:
          description: nickname for the bank account
          type: string
          example: Phee's money
        metadata:
          type: object
          format: json
          description: any useful information you'd like to store alongside this bank account
          example: {}
        business_id:
          type: string
          format: uuid
          example: biz_123abc
        platform_account_id:
          type: string
          format: uuid
          example: acc_123abc
        created_at:
          type: string
          format: date-time
          example: '2021-01-01T12:00:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2021-01-01T12:00:00Z'
  parameters:
    id-path:
      in: path
      name: id
      schema:
        type: string
        format: uuid
      required: true
    authorization-header:
      in: header
      name: Authorization
      schema:
        type: string
      required: true
      example: Bearer {access_token}
      description: the `access_token` value returned from the JustiFi `oauth/token` endpoint (be sure to append `Bearer` before the token)
x-tagGroups:
- name: Authorization
  tags:
  - API Credentials
  - Web Component Tokens
- name: For Platforms
  tags:
  - Sub Accounts
  - Platform Wallet Accounts
  - Onboarding via Component
  - Hosted Onboarding
  - Onboarding via API
  - Fee Configurations
  - Proceeds
  - Reports
- name: Payment Resources
  tags:
  - Payments
  - Payment Methods
  - Tokenize via Component
  - Payment Method Groups
  - Refunds
  - Disputes
  - Payouts
  - Payout Holds
  - Balance Transactions
  - Ach Return Fees
  - Payment Method Migration
- name: Checkout Resources
  tags:
  - Checkouts
  - Checkout via Component
  - Checkout via API
- name: Insurance Resources
  tags:
  - Bind Insurance
- name: Entity Resources
  tags:
  - Business
  - Identity
  - Address
  - Document
  - Bank Account
  - Terms and Conditions
  - Provisioning
- name: Card Present Resources
  tags:
  - Terminals
  - Terminals Orders
- name: Libraries
  tags:
  - JustiFi Web Components
  - JustiFi SDK
- name: Event Publishing
  tags:
  - Events
  - Webhook Delivery
