openapi: 3.2.0
info:
  description: '## Introduction


    The JustiFi API is a REST-based payment processing API.'
  title: JustiFi API Documentation Checkouts API
  termsOfService: https://justifi.ai/terms-and-conditions
  x-logo:
    url: https://justifi-brand-assets.s3.us-east-2.amazonaws.com/justifi-light-bg.png
  contact:
    email: api-development@justifi.ai
servers:
- url: https://api.justifi.ai/v1
  description: JustiFi API
tags:
- name: Checkouts
  description: 'Checkouts can be used to collect payments directly via API, or using our Checkout component.

    You can use a checkout to complete a payment via JustiFi, via BNPL, via terminal,

    and to purchase insurance in a single transaction.


    All attempts to complete a payment will be recorded, along with the outcome of a payment.'
paths:
  /checkouts:
    post:
      summary: Create a Checkout
      description: 'Create a checkout to initiate the collection of a Card Payment, ACH Payment, Insurance Quote Payment, BNPL Payment (not yet available via API),

        or Card Reader payment in a single flow. Checkouts have the following statuses: `created` after creating a checkout, `attempted` when a checkout

        payment is attempted, `completed` when a payment is collected for a checkout, `expired` when a checkout has not been completed after one week

        since being created'
      operationId: CreateCheckout
      tags:
      - Checkouts
      parameters:
      - $ref: '#/components/parameters/authorization-header'
      - $ref: '#/components/parameters/sub-account-required'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                amount:
                  type: number
                  example: 10000
                  description: amount to charge in cents, must be an integer greater than 50 (equivalent to $0.50)
                description:
                  type: string
                  description: your meaningful description of the checkout (e.g. an order number or other value from your system)
                  example: order_xyz
                origin_url:
                  type: string
                  description: the domain on which the web component will be rendered, required for web component usage only
                  example: http://localhost:3000
                payment_method_group_id:
                  type: string
                  description: payment method group to associate with the checkout
                  example: pmg_xyz123
                statement_descriptor:
                  type: string
                  description: description of the payment that will be available on the account's bank statement, must have between 5-22 alphanumeric characters and can include dash or underscore
                  example: Big Business
                metadata:
                  type: object
                  format: json
                  description: any useful information you'd like to store alongside this checkout
                  example: {}
                application_fees:
                  type: object
                  description: Sets a custom application fee amount by payment method type. **New integrations** should use `payment.fees` instead for selective refund support. See [Enhanced Fee Management](#section/Enhanced-Fee-Management). (card/ach and card present only, not available for bnpl). **Not available for CAD payments** — fees are determined during merchant onboarding. See [Canadian Payments](https://docs.justifi.tech/payments/canadianPayments).
                  properties:
                    card:
                      type: object
                      properties:
                        amount:
                          type: number
                          description: custom application fee amount that applies to card payment method.
                          example: 300
                    bank_account:
                      type: object
                      properties:
                        amount:
                          type: number
                          description: custom application fee amount that applies to bank account payment method.
                          example: 150
                payment:
                  type: object
                  description: To override the information saved on the Payment when a checkout is paid via JustiFi card/ach payment, please use these attributes
                  properties:
                    description:
                      type: string
                      description: Override the default payment description of Checkout [checkout id], use this attribute
                      example: Pay David for great work
                    metadata:
                      type: object
                      format: json
                      description: Adds metadata to the payment record
                      example: {}
                    expedited:
                      type: boolean
                      description: settlement priority of the payment, only applies to ACH payments
                    fees:
                      type: array
                      description: '*Recommended for new integrations.* Fees to apply to the payment. See [Enhanced Fee Management](#section/Enhanced-Fee-Management) for full documentation.


                        Each fee object specifies:

                        - `type`: `processing_fee` or `platform_fee` (required)

                        - `amount`: Fee amount in cents (required)


                        Cannot be used together with `application_fees`.


                        > **Note:** The `fees` array will be empty in the create response. Fees are processed asynchronously — subscribe to payment webhook events (recommended) to receive the full fee details, or poll with a subsequent Get Payment request.


                        > **CAD Payments:** This parameter is not available for CAD payments. Fees for Canadian dollar payments are determined during merchant onboarding and are not configurable via the API. See [Canadian Payments](https://docs.justifi.tech/payments/canadianPayments) for details.

                        '
                      items:
                        $ref: '#/components/schemas/Fee'
                      example:
                      - type: processing_fee
                        amount: 350
                      - type: platform_fee
                        amount: 500
              required:
              - amount
              - description
      responses:
        '201':
          description: Checkout was created successfully
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope'
                - properties:
                    type:
                      example: checkout
                    data:
                      $ref: '#/components/schemas/Checkout'
    get:
      summary: List Checkouts
      description: List Checkouts for your account. This endpoint supports pagination.
      operationId: ListCheckouts
      tags:
      - Checkouts
      parameters:
      - $ref: '#/components/parameters/authorization-header'
      - $ref: '#/components/parameters/sub-account'
      - in: query
        name: payment_mode
        schema:
          type: string
          enum:
          - bnpl
          - ecom
          - card_present
          - apple_pay
        required: false
        example: bnpl
        description: 'the mode in which the checkout was completed

          '
      - in: query
        name: status
        schema:
          type: string
          enum:
          - created
          - completed
          - attempted
          - expired
        required: false
        example: completed
        description: 'the checkout status

          '
      - in: query
        name: payment_status
        schema:
          type: string
          enum:
          - succeeded
          - failed
          - canceled
          - skipped
          - pending
        required: false
        example: succeeded
        description: 'the status of the payment which was use to complete the checkout

          '
      responses:
        '200':
          description: Successfully list checkouts
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope-list'
                - properties:
                    type:
                      example: array
                    data:
                      $ref: '#/components/schemas/Checkout'
  /checkouts/{id}:
    get:
      summary: Get Checkout
      description: Get information about a checkout
      operationId: GetCheckout
      tags:
      - Checkouts
      parameters:
      - $ref: '#/components/parameters/authorization-header'
      - $ref: '#/components/parameters/sub-account'
      responses:
        '200':
          description: Successfully get a checkout
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope'
                - properties:
                    type:
                      example: checkout
                    data:
                      $ref: '#/components/schemas/Checkout'
    patch:
      summary: Update a Checkout
      description: Change a checkout's amount or description
      operationId: UpdateCheckout
      parameters:
      - $ref: '#/components/parameters/id-path'
      - $ref: '#/components/parameters/authorization-header'
      tags:
      - Checkouts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                amount:
                  type: number
                  example: 10000
                  description: amount to charge in cents, must be an integer greater than 50 (equivalent to $0.50)
                description:
                  type: string
                  description: your meaningful description of the checkout (e.g. an order number or other value from your system)
                  example: order_xyz
                statement_descriptor:
                  type: string
                  description: description of the payment that will be available on the account's bank statement, must have between 5-22 alphanumeric characters and can include dash or underscore
                  example: Big Business
                metadata:
                  type: object
                  format: json
                  description: any useful information you'd like to store alongside this checkout; when you update metadata, any previous metadata will be overwritten
                application_fees:
                  type: object
                  description: (card/ach and card present only, not available for bnpl) sets a custom application fee amount that applies to this payment, instead of relying on application fee rates configured at the platform account level. Must be greater than zero.
                  properties:
                    card:
                      type: object
                      properties:
                        amount:
                          type: number
                          description: custom application fee amount that applies to card payment method.
                          example: 300
                    bank_account:
                      type: object
                      properties:
                        amount:
                          type: number
                          description: custom application fee amount that applies to bank account payment method.
                          example: 150
      responses:
        '200':
          description: Checkout update was successful
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope'
                - properties:
                    type:
                      example: object
                    data:
                      $ref: '#/components/schemas/Checkout'
  /checkouts/{id}/complete:
    post:
      summary: Complete a Checkout
      description: Use to complete a checkout and capture a payment, requires an idempotency key for payment processing
      operationId: CompleteCheckout
      tags:
      - Checkouts
      parameters:
      - $ref: '#/components/parameters/idempotency-key-header'
      - $ref: '#/components/parameters/authorization-header'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                payment_token:
                  type: string
                  example: pm_asdfakjsd23
                  description: Payment Method token which you want to use to complete the payment
                payment_mode:
                  type: string
                  example: ecom
                  enum:
                  - ecom
                  - bnpl
                  - card_present
                  - apple_pay
                  description: The mode in which the checkout is being completed. If not provided, defaults to `ecom`
              required:
              - payment_token
            examples:
              Complete_a_checkout:
                value:
                  payment_token: pm_asdfakjsd23
                  payment_mode: ecom
      responses:
        '201':
          description: Checkout was created successfully
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope'
                - properties:
                    type:
                      example: checkout_completion
                    data:
                      $ref: '#/components/schemas/CheckoutCompletion'
  /checkouts/{id}/refunds:
    post:
      summary: Refund a Checkout
      description: Use to refund a checkout. You may refund the full amount or just a portion. When refunding a portion, multiple refunds are supported up until the full payment amount has been refunded.
      operationId: RefundCheckout
      tags:
      - Checkouts
      parameters:
      - $ref: '#/components/parameters/idempotency-key-header'
      - $ref: '#/components/parameters/authorization-header'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              properties:
                amount:
                  type: integer
                  example: 4900
                  description: Amount to be refunded. If missing, the total amount will be used.
                fees:
                  type: array
                  description: 'Fees to return to the merchant as part of this refund. See [Enhanced Fee Management](#section/Enhanced-Fee-Management) for full documentation.


                    Each fee object specifies:

                    - `type`: The fee type to return (`processing_fee` or `platform_fee`)

                    - `amount`: Amount to return in cents


                    If omitted, no fees are returned. Only supported for card/ach and card present payments completed with the `fees` array.


                    > **CAD Payments:** This parameter is not available for CAD payments. See [Canadian Payments](https://docs.justifi.tech/payments/canadianPayments) for details.

                    '
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - processing_fee
                        - platform_fee
                        description: The type of fee to return
                        example: processing_fee
                      amount:
                        type: integer
                        description: Amount to return in cents
                        example: 175
                    required:
                    - type
                    - amount
            examples:
              Partial_refund:
                value:
                  amount: 1000
                  fees:
                  - type: processing_fee
                    amount: 100
                  - type: platform_fee
                    amount: 100
      responses:
        '200':
          description: Refund was created successfully
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope'
                - properties:
                    type:
                      example: checkout_completion
                    data:
                      $ref: '#/components/schemas/CheckoutRefund'
components:
  schemas:
    Envelope:
      type: object
      properties:
        id:
          description: the object id, also found in the data object
          type: string
          format: uuid
          example: prefix_xyz (same as id of data object)
        type:
          description: the object type, or array of objects
          type: string
          example: account
        data:
          description: the attributes for the object
          type: object
        page_info:
          description: information for cursor style pagination, is null for single records
          type: null
    CheckoutCompletionAttempt:
      type: object
      properties:
        id:
          description: unique checkout completion id
          type: string
          example: chc_xyz123
        payment_mode:
          type: string
          example: ecom
          enum:
          - ecom
          - bnpl
          - card_present
        payment_token:
          type: string
          example: pm_xyz123
          description: the payment method token used to process the payment, only for ecom payments
        status:
          type: string
          enum:
          - succeeded
          - failed
          - processing
          example: succeeded
          description: the status of the completion, only succeeded or failed
        payment_status:
          type: string
          enum:
          - succeeded
          - failed
          - pending
          - canceled
          - skipped
          example: succeeded
          description: depending upon payment mode, the status of the payment API call, bnpl transaction, or card reader transaction.
        payment_error_code:
          type: string
          example: card_declined
          description: when payment fails, related error code
        payment_error_description:
          type: string
          example: Your card was declined
          description: when payment fails, related error description
        payment_response:
          allOf:
          - type: object
          - description: payment object if completion attempt was successful, error object if not successful
          - $ref: '#/components/schemas/CardPaymentWithEnvelope'
        checkout_id:
          type: string
          format: uuid
          example: cho_xyz123
          description: id of the checkout for this completion
        additional_transactions:
          type: array of objects
          description: legacy attribute, any other transactions processed during checkout completion. For example, insurance payments
          example: []
        payment_id:
          type: string
          format: uuid
          example: py_xyz123
          description: id of the payment associated with this checkout, when successful
        payment_method_id:
          type: string
          format: uuid
          example: pm_xyz123
          description: id of the payment method associated with this checkout, when successful
        terminal_id:
          type: string
          format: uuid
          example: trm_xyz123
          description: id of the terminal used for this checkout, when mode is card present
        created_at:
          type: string
          format: date-time
          example: '2024-01-01T12:00:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2024-01-01T12:00:00Z'
    CheckoutRefund:
      type: object
      properties:
        id:
          description: unique checkout refund id
          type: string
          example: chr_xyz
        checkout_id:
          type: string
          format: uuid
          description: id of the checkout for this refund
        status:
          type: string
          enum:
          - succeeded
          - failed
          example: succeeded
          description: the status of the refund, only succeeded or failed
        refund_response:
          type: string
          example: invalid_amount
          description: when refund fails, related error description. when refund succeeded additional refund info (or null).
        refund_amount:
          type: integer
          example: 4900
          description: the amount requested to refund (or full checkout amount)
        returned_fees:
          type: array
          description: 'Fees returned to the merchant as part of this refund.

            See [Enhanced Fee Management](https://docs.justifi.tech/api-spec#section/Enhanced-Fee-Management) for full documentation.

            '
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - processing_fee
                - platform_fee
                description: The type of fee that was returned
                example: processing_fee
              amount:
                type: integer
                description: Amount returned in cents
                example: 175
        created_at:
          type: string
          format: date-time
          example: '2024-01-01T12:00:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2024-01-01T12:00:00Z'
    CheckoutCompletion:
      type: object
      properties:
        id:
          description: unique checkout completion id
          type: string
          example: chc_xyz
        payment_mode:
          type: string
          example: ecom
          enum:
          - ecom
          - bnpl
          - card_present
        payment_token:
          type: string
          example: pm_xyz123
          description: the payment method token used to process the payment, only for ecom payments
        status:
          type: string
          enum:
          - succeeded
          - failed
          - processing
          example: succeeded
          description: the status of the completion, only succeeded or failed
        payment_status:
          type: string
          enum:
          - succeeded
          - failed
          - pending
          - canceled
          - skipped
          example: succeeded
          description: depending upon payment mode, the status of the payment API call, bnpl transaction, or card reader transaction.
        payment_error_code:
          type: string
          example: card_declined
          description: when payment fails, related error code
        payment_error_description:
          type: string
          example: Your card was declined
          description: when payment fails, related error description
        payment_response:
          allOf:
          - type: object
          - description: payment object if completion attempt was successful, error object if not successful
          - $ref: '#/components/schemas/CardPaymentWithEnvelope'
        checkout_id:
          type: string
          format: uuid
          description: id of the checkout for this completion
          example: cho_xyz123
        additional_transactions:
          type: array of objects
          description: legacy attribute, other transactions processed during checkout completion. For example, insurance payments
        checkout:
          $ref: '#/components/schemas/Checkout'
        payment_id:
          type: string
          format: uuid
          example: py_xyz123
          description: id of the payment associated with this checkout, when successful
        payment_method_id:
          type: string
          format: uuid
          example: pm_xyz123
          description: id of the payment associated with this checkout, when successful
        terminal_id:
          type: string
          format: uuid
          example: trm_xyz123
          description: id of the terminal used for this checkout, when mode is card present
        created_at:
          type: string
          format: date-time
          example: '2024-01-01T12:00:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2024-01-01T12:00:00Z'
    Fee:
      type: object
      description: A fee object specifying type and amount
      properties:
        type:
          type: string
          enum:
          - processing_fee
          - platform_fee
          description: 'The type of fee:

            - `processing_fee`: Fees related to payment processing costs

            - `platform_fee`: Fees for your platform''s services

            '
          example: processing_fee
        amount:
          type: integer
          description: Fee amount in cents
          example: 350
      required:
      - type
      - amount
    ApplicationFee:
      type: object
      properties:
        id:
          description: unique application fee id
          type: string
          format: uuid
          example: fee_123xyz
        amount:
          description: application fee amount, in cents
          type: number
          example: 150
        currency:
          type: string
          enum:
          - usd
          - cad
          example: usd
        created_at:
          type: string
          format: date-time
          example: '2021-01-01T12:00:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2021-01-01T12:00:00Z'
    CardPaymentMethod:
      type: object
      properties:
        card:
          $ref: '#/components/schemas/Card'
        customer_id:
          description: customer_id is a deprecated field. Please use our payment method groups instead.
          type:
          - string
          - 'null'
          example: cust_xyz
        signature:
          description: signature that uniquely identifies a credit card or bank account across payment methods
          type:
          - string
          - 'null'
          example: 4guAJNkVA3lRLVlanNVoBK
        account_id:
          description: account id associated with payment method
          type:
          - string
          - 'null'
          example: acc_123
    FeeResponse:
      type: object
      description: 'A fee object in API responses. The `fees` array is empty in the Create Payment response —

        subscribe to payment webhook events (recommended) to receive the full fee objects, or poll with a subsequent Get Payment request.

        '
      properties:
        id:
          type: string
          description: Unique identifier for this fee. Present when fetching a payment.
          example: pyfee_xyz
        type:
          type: string
          enum:
          - processing_fee
          - platform_fee
          - refund_processing_fee
          description: 'The type of fee:

            - `processing_fee`: Fees related to payment processing costs

            - `platform_fee`: Fees for your platform''s services

            - `refund_processing_fee`: A processing fee charged when a refund is processed. Currently applies to CAD payments only.

            '
          example: processing_fee
        amount:
          type: integer
          description: Fee amount in cents
          example: 350
        currency:
          type: string
          description: Currency of the fee amount. Present when fetching a payment.
          enum:
          - usd
          - cad
          example: usd
        remaining_amount:
          type: integer
          description: Amount still available for refund in cents. Updates after each partial refund. Present when fetching a payment.
          example: 350
        source_configuration_id:
          type:
          - string
          - 'null'
          description: The public ID of the Standard Fee Configuration used to calculate this fee. Null when the fee was explicitly provided in the payment request rather than auto-calculated.
          example: sfc_abc123
        source_fee_type:
          type:
          - string
          - 'null'
          description: 'The fee type from the Standard Fee Configuration that generated this fee (e.g., `processing_ecomm`, `amex_brand_ecomm`, `platform`).

            Null when the fee was explicitly provided in the payment request.

            '
          example: amex_brand_ecomm
        refund_id:
          type:
          - string
          - 'null'
          description: The public ID of the refund this fee is associated with. Populated for `refund_processing_fee` fees (currently CAD payments only); null for all other fees. Present when fetching a payment.
          example: re_xyz
      required:
      - type
      - amount
    TransactionHold:
      type: object
      properties:
        id:
          description: unique transaction hold id
          type: string
          example: th_123xyz
        financial_transaction_id:
          type: string
          description: financial transaction id the transaction hold is associated to
          format: uuid
          example: ft_123xyz
    Envelope-list:
      type: object
      properties:
        id:
          description: the object id
          type: number
          example: 1
        type:
          description: the object type, or array of objects
          type: string
          example: account
        data:
          description: the list of objects
          type: array
        page_info:
          description: information for cursor style pagination
          $ref: '#/components/schemas/PageInfo'
    Card:
      type: object
      properties:
        id:
          description: unique card id
          type: string
          format: uuid
          example: pm_123xyz
        acct_last_four:
          description: last 4 digits of the card number
          type: string
          example: 4242
        brand:
          description: card brand or bank name
          example: Visa
        digital_wallet:
          description: which digital wallet provider the card is tied to
          type:
          - string
          - 'null'
          enum:
          - apple_pay
          - google_pay
          - null
          example: apple_pay
        name:
          description: card or account holder name
          type:
          - string
          - 'null'
          example: Amanda Kessel
        token:
          description: 'same value as unique card id; can be saved and used to process multiple

            payments with the same card

            '
          example: pm_123xyz
        month:
          description: expiration date month
          example: '5'
        year:
          description: expiration date year
          example: '2042'
        metadata:
          type:
          - object
          - 'null'
          format: json
          description: any useful information you'd like to store alongside this card
          example: {}
        created_at:
          type: string
          format: date-time
          example: '2021-01-01T12:00:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2021-01-01T12:00:00Z'
        address_line1_check:
          description: Result of the address line 1 verification check. `pass` — matches the cardholder's address on file; `fail` — does not match; `unavailable` — verification could not be performed; `unchecked` — no address was provided for verification.
          type: string
          example: unchecked
          enum:
          - fail
          - pass
          - unavailable
          - unchecked
        address_postal_code_check:
          description: Result of the postal code verification check. `pass` — matches the cardholder's postal code on file; `fail` — does not match; `unavailable` — verification could not be performed; `unchecked` — no postal code was provided for verification.
          type: string
          example: unchecked
          enum:
          - fail
          - pass
          - unavailable
          - unchecked
    PageInfo:
      type: object
      properties:
        end_cursor:
          description: the encoded id of the last record in the current list
          type: string
          example: WyIyMDIyLTAyLTA4IDE5OjUyOjM3LjEwNDE3MzAwMCIsIjY4MDliYTU5LTYxYjctNDg3MS05YWFiLWE2Y2MyNmY3M2M1ZCJd
        has_next:
          description: true if the collection contains records following the current list
          type: boolean
          default: false
        has_previous:
          description: true if the collection contains records ahead of the current list
          type: boolean
          default: false
        start_cursor:
          description: the encoded id of the first record in the current list
          type: string
          example: WyIyMDIyLTAyLTA4IDIwOjAxOjU4LjEyMDIzMjAwMCIsIjU5ZTFjNGI1LWFlOWQtNDIyZC04MTVkLWNjNzQ5NzdlYmFjYSJd
    CardPaymentWithEnvelope:
      type: object
      properties:
        id:
          description: unique payment id, same as id in data object
          type: string
          example: py_xyz
        type:
          description: the object type
          type: string
          example: payment
        data:
          $ref: '#/components/schemas/CardPayment'
        page_info:
          description: information for cursor style pagination, is null for single records
          type: null
    CardPayment:
      type: object
      properties:
        id:
          description: unique payment id
          type: string
          example: py_xyz
        account_id:
          type: string
          format: uuid
          example: acc_xyz
        amount:
          description: payment amount in cents
          type: number
          example: 10000
        amount_disputed:
          description: sum of open or lost disputes for this payment, in cents
          type: number
          example: 0
        amount_refunded:
          description: sum of refunds for this payment, in cents
          type: number
          example: 0
        amount_refundable:
          description: amount of this payment currently able to be refunded, in cents
          type: number
          example: 10000
        balance:
          description: sum of debits and credits for this payment, in cents (reflects the amount this account has earned from this payment). Compiled and calculated value, eventually consistent. To see all changes affecting the payment's balance call [Get Balance Transactions](#operation/GetPaymentBalanceTransactions)
          type: number
          example: 99850
        fee_amount:
          type: number
          description: sum of fees for this payment
          example: 150
        financial_transaction_id:
          type: string
          description: associated financial transaction id
          example: ft_123xyz
        captured:
          description: whether or not this payment is captured
          type: boolean
          example: true
        capture_strategy:
          type: string
          example: automatic
          enum:
          - automatic
          - manual
        currency:
          type: string
          enum:
          - usd
          - cad
          example: usd
        description:
          type: string
          description: your meaningful description of the payment (e.g. an order number or other value from your system)
          example: my_order_xyz
        disputed:
          type: boolean
          description: whether or not this payment has any open or lost disputes
          example: false
        disputes:
          type: array
          description: list of associated disputes
          example: []
        error_code:
          type: string
          description: error code if the payment fails
          example: credit_card_number_invalid
        error_description:
          type: string
          description: text description of the error code
          example: Credit Card Number Invalid (Failed LUHN checksum)
        is_test:
          type: boolean
          description: whether or not this payment was made using the test account
          example: true
        metadata:
          type: object
          format: json
          description: any useful information you'd like to store alongside this payment
          example: {}
        payment_intent_id:
          type: string
          description: unique id of associated payment intent
          example: pi_123xyz
        checkout_id:
          type: string
          description: unique id of associated checkout
          example: cho_123xyz
        payment_method:
          $ref: '#/components/schemas/CardPaymentMethod'
        application_fee:
          $ref: '#/components/schemas/ApplicationFee'
        application_fee_rate_id:
          type: string
          description: unique id of application fee rate applied to this payment, if any
          example: afr_123xyz
        fees:
          type: array
          description: 'Array of fee objects showing the fees charged on this payment with their remaining refundable amounts.

            Populated whether the fees were provided via the `fees` array in the payment request or calculated automatically (for example, from a Standard Fee Configuration, or the `processing_fee` on a CAD payment).


            **Note:** This array is empty in the Create Payment response. Fees are processed asynchronously —

            subscribe to payment webhook events (recommended) to receive the full fee objects

            (with `id`, `remaining_amount`, and `currency`), or poll with a subsequent Get Payment request.


            See [Enhanced Fee Management](https://docs.justifi.tech/api-spec#section/Enhanced-Fee-Management) for full documentation.

            '
          items:
            $ref: '#/components/schemas/FeeResponse'
          example:
          - id: pyfee_abc
            type: processing_fee
            amount: 350
            currency: usd
            remaining_amount: 350
            source_configuration_id: sfc_abc123
            source_fee_type: processing_ecomm
            refund_id: null
          - id: pyfee_xyz
            type: platform_fee
            amount: 500
            currency: usd
            remaining_amount: 500
            source_configuration_id: sfc_abc123
            source_fee_type: platform
            refund_id: null
        refunded:
          type: boolean
          description: whether or not this payment has any refunds
          example: false
        status:
          type: string
          enum:
          - pending
          - authorized
          - canceled
          - succeeded
          - failed
          - partially_refunded
          - fully_refunded
          - disputed
          description: status of the payment
        payment_mode:
          type: string
          example: ecom
          enum:
          - ecom
          - ach
          - card_present
        terminal_id:
          type: string
          description: id of terminal used to process the card payment, if any
          example: trm_123xyz
        transaction_hold:
          allOf:
          - type: object
          - description: present when the payment has been flagged for review and held from payouts
          - $ref: '#/components/schemas/TransactionHold'
        expedited:
          type:
          - boolean
          - 'null'
          description: settlement priority of the payment, only applies to ACH payments
          example: null
        created_at:
          type: string
          format: date-time
          example: '2021-01-01T12:00:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2021-01-01T12:00:00Z'
    Checkout:
      type: object
      properties:
        id:
          description: unique checkout id
          type: string
          format: uuid
          example: cho_xyz
        account_id:
          description: id of the account associated with the checkout
          type: string
          format: uuid
          example: acc_xyz
        platform_account_id:
          description: id of the platform account associated with the checkout
          type: string
          format: uuid
          example: acc_xyz
        payment_intent_id:
          description: id of the payment intent associated with the checkout
          type: string
          format: uuid
          example: pi_xyz
        payment_amount:
          description: the amount charged in cents
          type: number
          example: 10000
        payment_currency:
          type: string
          enum:
          - USD
          - CAD
          example: USD
        payment_description:
          type: string
          description: your custom description of the payment if passed in the `payment` property during checkout creation, otherwise "Checkout [checkout id]"
          example: my order xyz
        payment_methods:
          type: array
          description: if `payment_method_group_id` was provided, list of payment methods contained in that payment method group
          example:
          - id: pm_123xyz
            type: card
            status: valid
            invalid_reason: null
            name: John Doe
            brand: visa
            acct_last_four: '4321'
            month: '12'
            year: '2031'
            address_line1_check: pass
            address_postal_code_check: pass
            bin_details: {}
          - id: pm_789abc
            type: bank_account
            status: valid
            invalid_reason: null
            account_owner_name: Mary Lane
            account_type: checking
            bank_name: Altra
            acct_last_four: '4512'
        payment_method_group_id:
          type: string
          description: id of payment method group used for checkout, if provided
          format: uuid
          example: pmg_xyz
        status:
          type: string
          enum:
          - created
          - completed
          - attempted
          - expired
          description: status of the checkout
        mode:
          type: string
          enum:
          - test
          - live
          description: mode of the checkout
          example: test
        successful_payment_id:
          type: string
          format: uuid
          example: py_123xyz
          description: payment id, if this checkout was paid for successfully
        statement_descriptor:
          type: string
          description: description of the payment that will be available on the account's bank statement
          example: Big Business
        metadata:
          type: object
          example: {}
        application_fees:
          type: object
          deprecated: true
          description: '**Deprecated**: Use the `fees` object instead for granular control over fee types and selective refunds.


            **New integrations** should use `payment.fees` instead for selective refund support. See [Enhanced Fee Management](#section/Enhanced-Fee-Management).

            '
          properties:
            card:
              type: object
              properties:
                amount:
                  description: custom application fee amount that applies to card payment method
                  example: 300
            bank_account:
              type: object
              properties:
                amount:
                  description: custom application fee amount that applies to bank account payment method
                  example: 150
        payment_settings:
          type: object
          description: payment configuration information for the checkout
          example:
            ach_payments: true
            bnpl_payments: false
            credit_card_payments: true
            insurance_payments: false
            bank_account_verification: false
        payment:
          type: object
          description: data passed to the `payment` property during checkout creation, or null
          properties:
            description:
              type: string
              description: your meaningful description of the payment (e.g. an order number or other value from your system)
              example: my order xyz
            metadata:
              type: object
              format: json
              description: any useful custom information stored alongside this payment
              example:
                new: info
            expedited:
              type: boolean
              description: settlement priority of the payment, defaults to false
              example: true
            fees:
              type: array
              description: 'Array of fee objects specifying the fees to be applied when the checkout is completed.

                See [Enhanced Fee Management](#section/Enhanced-Fee-Management) for full documentation.

                '
              items:
                $ref: '#/components/schemas/Fee'
              example:
              - type: processing_fee
                amount: 295
              - type: platform_fee
                amount: 150
        created_at:
          type: string
          format: date-time
          example: '2024-01-01T12:00:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2024-01-01T12:00:00Z'
        completions:
          type: array
          description: list of checkout completion attempts, if any
          items:
            $ref: '#/components/schemas/CheckoutCompletionAttempt'
  parameters:
    id-path:
      in: path
      name: id
      schema:
        type: string
        format: uuid
      required: true
    sub-account:
      in: header
      name: Sub-Account
      schema:
        type: string
      required: false
      example: acc_123xyz
      description: 'the id of the [sub account](https://docs.justifi.tech/api-spec#tag/Sub-Accounts) that this request applies to

        '
    idempotency-key-header:
      in: header
      name: Idempotency-Key
      schema:
        type: string
        format: uuid
      required: true
      example: my-request-123abc
      description: a string to identify your request (we recommend using a generated uuid, but you may use any unique string) see [Idempotent Requests](https://docs.justifi.tech/api-spec#section/Idempotent-Requests)
    sub-account-required:
      in: header
      name: Sub-Account
      schema:
        type: string
      required: true
      example: acc_123xyz
      description: 'the id of the [sub account](https://docs.justifi.tech/api-spec#tag/Sub-Accounts) that this request applies to

        '
    authorization-header:
      in: header
      name: Authorization
      schema:
        type: string
      required: true
      example: Bearer {access_token}
      description: the `access_token` value returned from the JustiFi `oauth/token` endpoint (be sure to append `Bearer` before the token)
x-tagGroups:
- name: Authorization
  tags:
  - API Credentials
  - Web Component Tokens
- name: For Platforms
  tags:
  - Sub Accounts
  - Platform Wallet Accounts
  - Onboarding via Component
  - Hosted Onboarding
  - Onboarding via API
  - Fee Configurations
  - Proceeds
  - Reports
- name: Payment Resources
  tags:
  - Payments
  - Payment Methods
  - Tokenize via Component
  - Payment Method Groups
  - Refunds
  - Disputes
  - Payouts
  - Payout Holds
  - Balance Transactions
  - Ach Return Fees
  - Payment Method Migration
- name: Checkout Resources
  tags:
  - Checkouts
  - Checkout via Component
  - Checkout via API
- name: Insurance Resources
  tags:
  - Bind Insurance
- name: Entity Resources
  tags:
  - Business
  - Identity
  - Address
  - Document
  - Bank Account
  - Terms and Conditions
  - Provisioning
- name: Card Present Resources
  tags:
  - Terminals
  - Terminals Orders
- name: Libraries
  tags:
  - JustiFi Web Components
  - JustiFi SDK
- name: Event Publishing
  tags:
  - Events
  - Webhook Delivery
