openapi: 3.2.0
info:
  description: '## Introduction


    The JustiFi API is a REST-based payment processing API.'
  title: JustiFi API Documentation API Credentials API
  termsOfService: https://justifi.ai/terms-and-conditions
  x-logo:
    url: https://justifi-brand-assets.s3.us-east-2.amazonaws.com/justifi-light-bg.png
  contact:
    email: api-development@justifi.ai
servers:
- url: https://api.justifi.ai/v1
  description: JustiFi API
tags:
- name: API Credentials
paths:
  /oauth/token:
    post:
      summary: Generate Access Token
      description: 'To get an access token, post your `client_id` and `client_secret`.

        The request responds with an access token, which is valid for 24 hours. Pass the token as the `Authorization`

        header with `Bearer` appended before the token, e.g. `Bearer {access_token}`.


        **Note: These access tokens are meant only for backend-to-backend calls. If you are looking to authorize

        a web component, please see the Web Component Token API**'
      operationId: CreateAccessToken
      tags:
      - API Credentials
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                client_id:
                  type: string
                  example: test_clientId
                  description: the client id for your (live or test) account
                client_secret:
                  type: string
                  example: test_clientSecret
                  description: the client secret for your (live or test) account
            example:
              client_id: test_clientId
              client_secret: test_clientSecret
      responses:
        '200':
          description: An access token has been granted
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    description: 'an access token to pass to our API as the `Authorization` header with

                      `Bearer` appended before the token, e.g. `Bearer {access_token}`

                      '
                    type: string
      servers:
      - url: https://api.justifi.ai
x-tagGroups:
- name: Authorization
  tags:
  - API Credentials
  - Web Component Tokens
- name: For Platforms
  tags:
  - Sub Accounts
  - Platform Wallet Accounts
  - Onboarding via Component
  - Hosted Onboarding
  - Onboarding via API
  - Fee Configurations
  - Proceeds
  - Reports
- name: Payment Resources
  tags:
  - Payments
  - Payment Methods
  - Tokenize via Component
  - Payment Method Groups
  - Refunds
  - Disputes
  - Payouts
  - Payout Holds
  - Balance Transactions
  - Ach Return Fees
  - Payment Method Migration
- name: Checkout Resources
  tags:
  - Checkouts
  - Checkout via Component
  - Checkout via API
- name: Insurance Resources
  tags:
  - Bind Insurance
- name: Entity Resources
  tags:
  - Business
  - Identity
  - Address
  - Document
  - Bank Account
  - Terms and Conditions
  - Provisioning
- name: Card Present Resources
  tags:
  - Terminals
  - Terminals Orders
- name: Libraries
  tags:
  - JustiFi Web Components
  - JustiFi SDK
- name: Event Publishing
  tags:
  - Events
  - Webhook Delivery
